@charset "utf-8";
/*
  공통COMMON.css
*/


/* [.in_1080]1080px 가운데 정렬 div */
.in_1080{
  position:relative;
  margin:0 auto;
  width:1080px;
}
.daechi-math .in_1080 {
  position: initial;
}

/* 글짜 가운데 정렬용 */
.tc{
  text-align:center;
}

/* 공통으로 들어간거 제거용 */
.class-timetable-search-section.pc-view {
  padding: 0 !important;
}


/* GNB */
.gnb-wrap-box #theTutorGnb {
}

.gnb-wrap-box #theTutorGnb.active {
}

.gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu {
  display: none;
}
.gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu .ic_sub {
  position: absolute;
  top: 9px;
  right: 5px;
  display: block;
  width: 7px;
  height: 5px;
  background: url(../../img/common/gnb_sub_off.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.gnb-wrap-box #theTutorGnb #b2c-navi-list > li > a {
  color: #737373 !important;
}

.gnb-wrap-box #theTutorGnb #b2c-navi-list > li > a:hover {
  color: #29b6f6 !important;
}


.gnb-wrap-box #theTutorGnb #b2c-navi-list .active {
  display: block;
}

.gnb-wrap-box #theTutorGnb #b2c-navi-list > li {
  position: relative;
}

.gnb-wrap-box #theTutorGnb #b2c-navi-list > li .balloon{
  position: absolute;
  top:-25px;
  left:50%;
  margin-left:-62px;
}
.gnb-wrap-box #theTutorGnb #b2c-navi-list > li .gnb_m{
  display: none;
}
.gnb-wrap-box .btn_gnb_menu {
  display: none;
  position: absolute;
  top: -40px;
  left: 16px;
  width: 20px;
  height: 22px;
  background: url('/elementary/resources/img/common/btn_gnb_menu_open.png') no-repeat 0 0;
  background-size: 100% 100%;
  font-size: 0;
  z-index:100;
  text-indent: -9999em;
}

.form-chat {
  margin-top: 2rem;
}

.small-chat-box .form-chat .chat-input {
  border: solid #eee 1px;
}


#chatlist-form{
  text-align:center;
}
#sendTutorMessage{
  text-align:center
}
.alarm-icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  right: -5px;
  width: 5px;
  height: 5px;
  background: #2ab6f7;
  border-radius: 50%;
}
.icon-messege{    cursor: pointer;}

@media (max-width: 959px) {
  /* 모바일용 */
  .in_1080 {
    width: 100%;
  }


  .gnb-wrap-box h1.gnb-title {
    display: none;
  }

  .gnb-wrap-box .btn_gnb_menu {
    display: block;
  }

  .gnb-wrap-box .btn_gnb_menu.on {
    background: url('../../img/common/btn_gnb_menu_close.png') no-repeat 0 0;
    background-size: 100% 100%;
  }

  .gnb-wrap-box #theTutorGnb {
    position: fixed;
    top: 54px;
    left: 0;

    overflow: auto;
    z-index: 1000;
  }

  .gnb-wrap-box #theTutorGnb.active {
    width: 100%;
    height: 100%;
    background: #fff;

  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list {
    display: none;
    padding-bottom: 60px;
    width: 100%;
    border-top: 1px solid #37b2e6;
    border-left: 0;
    background: #fff;
    overflow: auto;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list.active {
    display: block;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list > li {
    padding-left: 15px;
    border-bottom: 1px solid #ebebeb;
    background: url('../img/common/gnb_list_ic.png') no-repeat 90% 17px;
    background-size: 20px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .gnb_pc {
    display: none;
  }
  .gnb-wrap-box #theTutorGnb #b2c-navi-list .balloon_m {
    position:absolute;
    top:0;
    left:85px;
    margin-left:0;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer{
    position: relative;
    height:70px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer:before{
    content:'';
    position: absolute;
    z-index:1;
    display:block;
    top:17px;
    left:43px;
    width:36px;
    height:35px;
    background:url('../../img/common/icon_customer.png') no-repeat 0 0;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer:after{
    content:'';
    position: absolute;
    z-index:1;
    display:block;
    top:26px;
    right:30px;
    width:9px;
    height:16px;
    background:url('../../img/common/bg_arrow.png') no-repeat 0 0;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer a{
    position: absolute;
    top:10px;
    left:15px;
    right:15px;
    background:#29a4e1;
    padding-left:95px;
    border-radius:5px;
    color:#fff !important;
    font-weight:bold;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer a span{
    position: relative;
    display:inline-block;
    padding-right: 19px;
    margin-right:19px;
  }
  .gnb-wrap-box #theTutorGnb #b2c-navi-list .menu_customer a span:before{
    content: '';
    position: absolute;
    top:13px;
    right:0;
    width:1px;
    height:25px;
    background: #6abfea;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list li a {
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .active li a {
    padding: 0 15px;
    display: block;
    border-top: 1px dashed #ebebeb;
    font-size: 12px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu .ic {
    display: none;
  }

  #quick-banner {display:none;}



}

@media (min-width: 960px) {
  /* 데탑용 */
  .gnb-wrap-box {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
  }

  .gnb-wrap-box .gnb-title {
    position: absolute;
    top: 33px;
    /*left: 0;*/
    left: 20px;
  }
  .gnb-wrap-box .gnb-title a {
    color: #000;
  }


  .gnb-wrap-box #theTutorGnb {
    margin-left: 180px;
    padding: 40px 0;
    position: relative;
    z-index: 10;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list {
    margin-right:0 !important;
    display:block !important;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list:after {
    content: '';
    display: block;
    clear: both;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list > li {
    float: left;
    margin-left: 25px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .gnb_m {
    display: none;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list li a {
    font-size: 14px;
    font-weight: bold;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu {
    position: absolute;
    top: 35px;
    left: 50%;
    background: #fff;
    border: 1px solid #bcbcbc;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu.guidance {
    margin-left: -22px;
  }
  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu.study {
    margin-left: -60px;
    width:175px;
  }
  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu.teaching {
    margin-left: -60px;
    width: 130px;
  }
  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu.event {
    margin-left: -39px;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu a {
    display: block;
    padding: 3px 20px 3px 10px;
    font-size: 11px;
    font-weight: normal;
    color: #333;
  }

  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu a:hover {
    font-weight: bold;
  }



  .gnb-wrap-box #theTutorGnb #b2c-navi-list .sub_menu .ic {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -5px;
    display: block;
    width: 10px;
    height: 7px;
    background: url('../../img/common/gnb-big-ic.png') no-repeat 0 0;
    background-size: 100% 100%;
  }


  #quick-banner-m {display: none;}

}











































