/**
* inspinia theme 에서 지원하지 않는 부분이나 변경할 부분을 아래에 작성합니다.
* 2017.09.04 by dante@stunitas.com
*/

body {
  font-family: $default-font;
  line-height: 1.6em;
}

/**
* page title 을 굵게 표시함
*/

.page-heading h2 {
  font-weight: bold;
}

.alert-msg {
  display: none;
}

.has-error {
  .alert-msg {
    display: block;
  }
}

/**
* Sidemenu 내의 Group Menu 텍스트에 대한 CSS
*/

#side-menu {
  li {
    .menu-group {
      padding: 15px 25px;
      color: #ededed;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      text-shadow: 1px 1px #000;
    }
  }
}

.nav>li>a {
  font-weight: 300;
}

.modal-lg {
  width: 900px;
}

// chosen-select 의 방향을 top으로 하고 싶다면 chosen-select 를
// 한번 wrppaing 하여 해당 div 에 select-up class 를 추가하면 됨
.select-up {
  .chosen-container .chosen-drop {
    top: auto !important;
    bottom: 40px;
  }
}

// 기본 테이블의 모양을 변경함
// 2017.10.27, by dante
.table {
  border: 1px solid #dcddde;

  thead {
    background-color: #e7eaec;

    tr {
      th {
        padding: 10px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px;
      }
    }
  }
}

/**
* summernote.css에서 margin-top에 대한 값을 주고 있어서
* margin-top을 0으로 강제지정할 경우 summernote에서도 별다른
* inspinia theme와 충돌이 발생함
* 문제점이 보이지 않음
*/

.modal-footer {
  margin-top: 0;
}

/**
* 기본 theme에서 제공되는 입력창은 높이가 낮아서 보기에 이상함
* mac os x chrome과 safari에서는 아래의 변경사항이 좋아보이는데
* windows 환경에서는 확인해보지 못함
*/

//.chosen-container-single .chosen-single {
//  min-height: 36px;
//  line-height: 34px;
//}
/**
* flash message 창의 border-radius를 0으로 만듬
*/

.alert {
  border-radius: 0;
}

/**
* ContentGroup 설정 등에서 사용되는 jquery.nestable 기능에서
* 각 항목에 대한 action button 을 지정하고자 할 경우
* 아래의 action button css 를 이용할 수 있음
*/

#nestable2 .action-button {
  position: absolute;
  display: block;
  top: 6px;
  right: 6px;
}

/**
* jquery.nestable 항목을 드래그하기 시작할 때
* 위에서 설정한 action button 들이 조금 이상하게 보이는 경우가 발생함
* 그래서, 항목을 드래그하기 시작할 때는 action button 영역을 숨김
*/

.dd-dragel .action-button {
  display: none;
}

.dd-item>button {
  margin-left: 35px;
}

.dd-content {
  display: block;
  margin: 5px 0; //TODO : 향후 drag & drop 이 지원되면 아래 주석 제거
  //padding: 10px 50px;
  //TODO : 현재 drag & drop 이 제공되지 않기 때문에 아래 구문 사용
  padding: 10px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #e7eaec;
  background: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.sort-handle {
  position: absolute;
  left: 0;
  padding: 6px 8px;
  margin: 10px;
}

/**
* sweet alert 에서 기본적으로 font-family: 'open sans' 를 사용하고 있어서
* 사이트 전체적으로 font-family 를 통일하기 위해 사용함
*/

.sweet-alert {
  font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', '돋움', 'Dotum',
    'Helvetica', 'Apple SD Gothic Neo', Sans-serif;
}

/**
* ContentGroup 항목을 Select Box 로 표시하기 위해 사용하는 CSS
* author: dante@stunitas.com
*/

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: ' ';
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #676a6c;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/**
* 기본 Bootstrap 의 dropmenu 내의 caret 의 왼쪽 여백을 조금 더 주기 위한 코드
* ContentGroup 항목을 Select 구문으로 보여주는 경우와 유사한 경우에 사용
* author: dante@stunitas.com
*/

.select.caret {
  margin-left: 15px;
}

.icon-quick-edit {
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 8px;
  font-size: 11px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px dotted rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

// common css
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
table,
select,
textarea {
  font-family: $default-font;
  letter-spacing: -0.05em;
  word-spacing: normal;
}

caption,
hr,
legend {
  display: none;
}

li {
  list-style: none;
}

.hidden-text,
.a11y-hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 9;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 9;
}

@font-face {
  font-family: 'got-svg';
  src: url(asset-path('font/got-site.eot?e3wtdw'));
  src: url(asset-path('font/got-site.eot?e3wtdw#iefix')) format('embedded-opentype'),
    url(asset-path('font/got-site.ttf?e3wtdw')) format('truetype'),
    url(asset-path('font/got-site.woff?e3wtdw')) format('woff'),
    url(asset-path('font/got-site.svg?e3wtdw#got-site')) format('svg');
  font-weight: normal;
  font-style: normal;
}

.got-style {
  position: relative;
  font-size: 16px;
  color: $gotcolor1;
  letter-spacing: 0.5px;

  [class^='icon-'],
  [class*=' icon-'] {
    font-family: 'got-svg' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-bi_v:before {
    content: '\e913';
  }

  .icon-bi_h:before {
    content: '\e914';
  }

  .icon-alert:before {
    content: '\e90a';
    color: #666;
  }

  .open .icon-alert:before,
  .icon-alert:hover:before,
  .icon-alert.active:before {
    content: '\e905';
    color: #666;
  }

  .icon-heart:before {
    content: '\e909';
    color: #666;
  }

  .icon-heart:hover:before,
  .icon-heart.active:before {
    content: '\e906';
    color: #666;
  }

  .icon-messege:before {
    content: '\e907';
    color: #666;
  }

  .open .icon-messege:before,
  .icon-messege:hover:before,
  .icon-messege.active:before {
    content: '\e908';
    color: #666;
  }

  .icon-pen:before {
    content: '\e911';
    font-size: 16px;
  }

  .icon-cart:before {
    content: '\e912';
    color: #666;
  }

  .icon-cart:hover:before,
  .icon-cart.active:before {
    content: '\e9155';
    color: #666;
  }

  .icon-check:before {
    content: '\e90b';
  }

  .icon-copy:before {
    content: '\e900';
  }

  .icon-multi:before {
    content: '\e901';
  }

  .icon-paper:before {
    content: '\e902';
  }

  .icon-tutorclass:before {
    content: '\e903';
  }

  .icon-movclass:before {
    content: '\e904';
  }

  .icon-answer:before {
    content: '\e90c';
  }

  .icon-file:after {
    content: '\e90d';
    margin-left: 3px;
    vertical-align: middle;
  }

  .icon-new:after {
    content: '\e90e';
    margin-left: 3px;
    color: $gotcolor;
    vertical-align: middle;
  }

  .icon-question:before {
    content: '\e90f';
  }

  .icon-re:before {
    content: '\e910';
  }

  .icon-linkout:before {
    content: '\e916';
    font-size: 12px;
    color: $gotcolor2;
  }

  input {
    font-size: 14px;
  }

  h1,
  .h1,
  h2,
  .h2 {
    color: $gotcolor1;
    font-weight: bold;
  }

  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    color: $gotcolor1;
    font-size: 20px;
  }

  .gray-text {
    color: $gotcolor3;
  }

  .small-title {
    font-size: 12px;
    color: $gotcolor3;
  }

  .btn-sm {
    height: 32px;
    font-size: 14px;
  }

  .btn-outline {
    background-color: #fff;
    border-color: #d2d2d2;
    color: $gotcolor1;
  }

  .btn-outline.disable {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: $gotcolor1;
  }

  .btn-darkline {
    background-color: #fff;
    border-color: $gotcolor1;
    color: $gotcolor1;
  }

  .btn-orangeline {
    background-color: #fff;
    border-color: $gotcolor;
    color: $gotcolor;
  }

  .btn-gray {
    background-color: $gotcolor3;
    border-color: $gotcolor3;
    color: #fff;
  }

  .btn-lightgray {
    background-color: #dadada;
    border-color: #dadada;
    color: $gotcolor3;
  }

  .btn-dark {
    background-color: $gotcolor1;
    border-color: $gotcolor1;
    color: #fff;
  }

  .btn-checked {
    background-color: #ddd;
    border-color: $gotcolor3;
    color: $gotcolor1;
  }

  .btn-submit,
  .btn-primary {
    background-color: $gotcolor;
    border-color: $gotcolor;
    color: #fff;
  }

  .btn-white {
    background-color: #fff;
    border-color: #fff;
    color: $gotcolor1;
  }

  .form-control:focus,
  .single-line:focus {
    border-color: $gotcolor;
  }

  &.builds,
  &.program {
    .sidebar-collapse {
      ul {
        li {
          &.nav-header {
            padding: 30px 0 40px;
            border-bottom: 1px solid #ddd;

            .profile-img {
              border: 1px solid #aaa;
            }

            .user-info {
              margin-top: 18px;

              .user-name {
                margin-bottom: 4px;
                color: $gotcolor1;
                font-size: 16px;
              }

              a {
                color: $gotcolor3;
                font-size: 12px;
              }
            }

            &+li {
              padding: 26px 0 0 0;
            }
          }

          >a {
            color: $gotcolor2;
            font-size: 16px;

            &:hover {
              color: $gotcolor;
            }
          }

          &.active a {
            color: $gotcolor;
          }
        }
      }
    }
  }

  .content-wrapper {
    position: relative;
  }

  .bg-dimmed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .pace .pace-progress {
    background: $gotcolor;
  }

  .modal-body,
  .tabs-container,
  .tab-content {
    .nav-tabs {
      border-bottom-color: $gotcolor1;

      li {
        a {
          background: transparent;
          border: 0;
          border-bottom: 4px solid transparent;
          font-size: 20px;
          color: $gotcolor2;
        }

        &.active,
        &:active,
        &:focus,
        &:hover {

          a,
          a:active,
          a:hover,
          a:focus {
            background: transparent;
            border: 0;
            border-bottom: 4px solid $gotcolor1;
            color: $gotcolor1;
            font-weight: bold;
          }
        }
      }
    }
  }

  .modal-content {
    .modal-header .close {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 24px;
      opacity: 0.6;
    }

    .form-group {
      .control-label {
        text-align: left;
      }
    }

    .modal-body {
      .description {
        font-size: 12px;
        color: $gotcolor3;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

// custom checkbox button start
.ck-button {
  margin: 4px 8px 4px 0;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
  overflow: auto;
  float: left;

  &:hover {
    background: #29b6f6;
    cursor: pointer;
  }

  label {
    float: left;
    margin-bottom: 0;
    font-weight: normal;
    font-size: small;

    span {
      text-align: center;
      padding: 6px 10px;
      display: block;
    }

    input {
      display: none;
    }
  }

  input:checked+span {
    background-color: #29b6f6;
    color: #fff;
  }

  .navbar-default {
    background: #f5f5f5;

    .nav>li {
      >a {
        padding: 10px 25px;
        color: #333;
        font-size: 12px;
      }

      &.nav-header {
        padding: 10px 25px;

        strong {
          color: #666;
          font-size: 16px;
        }
      }
    }
  }
}

// custom checkbox button end
// overlay & center-middle class start
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
    transform: translate(-50%, -50%);
  }
}

.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  z-index: -1;
  background: rgba(40, 45, 50, 0.95);
  @include transition(opacity 0.2s);

  &.visible {
    z-index: 3000;
    opacity: 1;
    overflow-y: auto;
  }
}

.upload {
  width: 100%;
}

// overlay & center-middle class end
body.got-style.landing-page {
  background-color: #fff; // got-style landing background white modify
}

.empty-text {
  border: 1px solid #777;
  border-width: 1px 0;
  height: 500px;
  padding: 150px 0;
  text-align: center;

  .icon-bi_h {
    overflow: hidden;
    display: block;
    width: 200px;
    height: 36px;
    margin: 20px auto;
    font-size: 36px;
    color: $gotcolor3;
    text-indent: -1000em;

    &:before {
      display: block;
      text-indent: 0;
    }
  }

  >p {
    margin-bottom: 20px;
  }
}

p.empty-text {
  padding: 200px 0;
}

.no-padding {
  padding: 0;
}

#floting-belt {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2002;
  width: 100%;

  .content-box {
    max-width: 1800px !important;
    margin: 0 auto;
    padding: 0 !important;
    text-align: center;

    a {
      display: inline-block;

      &:first-child {
        img {
          //margin-left: 140px;
        }
      }
    }
  }
}

#quick-event {
  position: absolute;
  top: 130px;
  left: 50%;
  width: 130px;
  margin-left: 550px;
  z-index: 10;

  a {
    display: block;
    margin-bottom: 20px;
  }
}

#quick_top{
  display: block;
  width:130px;
  height:30px;
  background:#fff;
  border:1px solid #999;
  border-radius: 10px;
  font-size:12px;
  text-align: center;
  color:#999;
  line-height: 30px;
  &:after{
    content:"▶︎";
    display: inline-block;
    transform: rotate(-90deg);
    font-size:10px;
  }
}
