// Place all the styles related to the learns/reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attends-wrap{
  .courses-title{
    .pull-right{
      line-height: 1.4;
    }
  }
  .result-top-area{
    clear:both;
    .information{
      padding:24px 0;
      .btn-layer{
        position: relative;
        background:transparent;
        border:0;
        .tootip-layer{
          display: none;
          position: absolute;
          top:26px;
          right:0;
          width:300px;
          height:180px;
          padding:10px;
          background: #fff;
          border:1px solid #000;
          font-size: 14px;
          text-align: left;
          line-height: 1.8;
          p{
            margin-bottom:5px;
          }
        }
        &:hover .tootip-layer{
          display: block;
        }
      }
    }
  }
  .attends-list-table{
    &.table tbody tr td{
      vertical-align: middle;
    }
    .center{
      text-align: center;
    }
    .attend-state{
      display: inline-block;
      margin-right:10px;

      &:nth-child(1) .fa{
        color:#62C94F;
      }
      &:nth-child(2) .fa{
        color:#FF9300;
      }
      &:nth-child(3) .fa{
        color:#ED220B;
      }
    }
    .icon-time{
      &:before{
        display: inline-block;
        width:26px;
        height:26px;
        margin-right: 5px;
        padding:4px 6px;
        border-radius: 50%;
        vertical-align: middle;
        color:#fff;
        font-size: 14px;
        font-weight: bold;
        line-height:16px;
      }
      &.start:before {
        content: "입";
        background: #62C94F;
      }
      &.end:before{
        content: "퇴";
        background: $gotcolor;
      }
    }
  }
  .attend-stats{
    width:450px;
    border:1px solid #ddd;
    tr{
      th,td{
        border-left:1px solid #ddd;
        padding:15px;
        text-align:center;
      }
      th{
        background: #F5F5F6;
      }
      td{
        background: #fff;
        .number{
          font-size: 30px;
          font-weight: bold;
        }
      }
      & td:first-child{
        border-left:0;
      }
    }
  }
}