// Place all the styles related to the learns/calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-title{
    float: left;
    width: auto;
    margin: 3px 10px 0 20px;
}

.col-content{
    float: left;
    width: auto;
    margin: 3px 2px 0 2px;
}

.ibox-content-length{
    padding-left: 5px !important;
    color: #29b6f6;
}

.reviews-info{
    & i{
        position: relative;
        .tootip-layer{
            display: none;
            position: absolute;
            padding: 10px;
            background: #fff;
            border: 1px solid #000;
            font-size: 14px;
            text-align: left;
            width: 237px;
        }
        &:hover .tootip-layer{
            display: block;
        }
        .info-show-top{
            margin-top: -60px;
            margin-left: -50px;
            width: 211px;
        }
        .info-show-top-right{
            margin-top: -105px;
            margin-left: -208px;
            width: 223px;
        }
    }
}

.col-title-right{
    float: right !important;
    width: auto;
    margin: 0 10px !important;
}

.reviews-index-table{
    th,
    td.center-aligned{
        text-align: center;
    }
    td{
        padding: 5px !important;
        vertical-align: middle !important;
    }
    th,td{
        border: 1px solid #e7eaec;
    }
}

#myModalLabel{
    margin: 0 0 20px 0;
    font-weight: bold;
}

.reviews-pop-header{
    p{
        font-size: 14px;
    }
    hr{
        display: block !important;
        margin: 10px 0 0 0 !important;
    }
    .reviw-index{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.reviews-pop-content{
    padding: 15px;
    .review-form{
        margin: 0 0 40px 0;
        height: 80px;
        .col-title{
            margin: 0;
            width: 20%;
        }
        .col-content{
            margin: 0;
            width: 80%;
            p{
                font-size: 12px;
            }
        }
        .form-control{
            width: 100%;
        }
        .necessary-content{
            color: #FF0000;
        }
    }
    .review-url{
        margin: 0 0 10px 0;
    }
    .review-grade{
        margin: 0;
        height: 60px;
        .stars{
            font-size: 30px;
            i{
                color: #DDDDDD;
            }
            i.fa-star{
                color: #29b6f6;
            }
            i:before{
                content: "\f005";
            }
        }
    }
    .review_save{
        font-size: 20px;
        padding: 10px;
        width: 200px;
        height: 52px;
        display: block;
        margin: 0 auto;
    }
    .close-modal{
        display: none;
    }
}
.disabled-btns {
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
}

.reviews_step_table{
    th,td{
        text-align: center;
        vertical-align: middle !important;
        border: 1px solid #e7eaec;
    }
    td{
        padding: 5px !important;
        word-break:break-all;
    }
    td:nth-child(4){
        text-align: left;
    }
    .steps-content-header span,
    .steps-content-header span p,
    .steps-content-url p{
        display: inline-block;
    }
    .steps-content-header span:nth-child(2){
        float: right;
        & p:nth-child(odd){
            margin: 0 10px;
            font-size: 12px;
        }
        & p:nth-child(2){
            font-size: 14px;
            color: #DDDDDD;
        }
    }
    .review-grade{
        .stars{
            i{
                color: #DDDDDD;
            }
            i.fa-star{
                color: #29b6f6;
            }
            i:before{
                content: "\f005";
            }
        }
    }
}

.reviews-header-nav{
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    display: block;
    background-color: #f3f3f4 !important;
    border: none !important;

    .reviews-header-title{
        & ol{
            background-color: #f3f3f4 !important;
        }

        & li {
            display: inline;
            &:before{
                content:"";
            }
        }
        & li:nth-child(2){
            &:before{
                content:" > ";
            }
        }
    }

    .detail-view-class{
        height: 40px;
        font-size: 17px;
    }
}

.btn-blue-disabled{
    background-color: #c0deed !important;
    border-color: #c0deed !important;
    color: #fff !important;
}