// Place all the styles related to the learns/studies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$modal-area-size: 917px;
$label-area-size: 150px;
$content-area-size: 689px;
#apply-modal-form-view {
  .modal-dialog {
    // width: 624px !important;
  }
  .modal-header .modal-title {
    width: calc(100% - 30px);
    span {
      img {
        margin: 0 0 3px 5px;
      }
    }
  }
  .ibox {
    margin: 0;
    .ibox-content {
      border: 0;
      padding: 0;
    }
  }
  .modal-body {
    padding: 15px;
  }
  .modal-content {
    .form-group {
      clear: both;
      overflow: hidden;
      .form-label {
        float: left;
        width: 25%;
        color: #000;
        label {
          font-weight: normal;
        }
      }
      .form-contents {
        float: left;
        width: 75%;
        padding: 0 5px;
        &:after {
          display: block;
          content: '';
          clear: both;
        }
        span {
          display: inline-block;
          height: 40px;
          line-height: 1em;
          .modal-profile {
            width: 40px;
            height: 40px;
            border-radius: 20px;
          }
        }
        .btn.btn-sm {
          margin: 0;
        }
      }
      .form-label-full {
        color: #000;
        label {
          font-weight: normal;
        }
      }
      .form-contents-full {
        div {
          width: 100%;
          height: 234px;
          padding: 15px;
          font-size: 14px;
          border: solid #e5e6e7;
          border-width: 1px;
          overflow-y: auto;
        }
      }
      .description {
        clear: both;
        padding-top: 8px;
        color: #000;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .modal-footer {
      width: 100%;
    }
  }
  .modal-footer {
    .btn {
      width: 100%;
      margin-left: 0;
    }
  }
}

#study-modal-form {
  .ibox {
    margin: 0;
    .ibox-content {
      border: 0;
      padding: 0;
    }
  }
  .modal-dialog {
    width: $modal-area-size;
  }
  .modal-body {
    padding: 15px;
  }
  .modal-content {
    .form-group {
      &:before,
      &:after {
        display: block;
        content: '';
      }
      &:after {
        clear: both;
      }
      .form-label {
        float: left;
        width: $label-area-size;
        color: #999;
        label {
          font-weight: normal;
        }
      }
      .form-label-full {
        clear: both;
        width: 100%;
        color: #999;
        label {
          font-weight: normal;
        }
        +.form-contents-full {
          width: 100%;
        }
      }
      .form-contents {
        float: left;
        width: $content-area-size;
        margin-left: 12px;
        .form-control {
          display: inline-block;
          width: 130px;
          &:after {
            display: table;
            clear: both;
            content: '';
          }
        }
        input[type="text"] {
          padding: 0 7px;
        }
        input[name="study_name"] {
          width: 100%;
        }
        input[type="number"] {
          text-align: right;
          padding: 0 4px;
        }
        input[type="password"] {
          text-align: center;
        }
        input[name="study_pay"] {
          float: left;
          +span {
            float: left;
            margin-left: 10px;
          }
        }
        .chosen-container {
          width: 200px !important;
        }
        .input-group-title {
          float: left;
          margin-right: 10px;
          height: 34px;
          line-height: 34px;
          font-weight: normal;
        }
        .input-group {
          float: left;
          width: 138px;
          margin-right: 10px;
          +span {
            float: left;
            margin: 0 10px 0 0;
            height: 34px;
            line-height: 34px;
          }
        }
        .profile_photo {
          overflow: hidden;
          li {
            position: relative;
            display: inline-block;
            margin: 5px 0 0 2px;
            width: 167px;
            height: 55px;
            cursor: pointer;
            .dummy {
              display: none;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 167px;
              height: 55px;
            }
            &.selected {
              .dummy {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: solid rgba(41, 182, 246, 0.7);
                border-width: 3px;
                z-index: 1;
              }
            }
          }
          li:nth-child(4n+1) {
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
  .modal-footer {
    .study-notice {
      float: left;
      color: #f00;
    }
  }
}

.program.studies {
  .program-wrapper {
    //width: 1080px;
    //margin: 0 auto;
    .courses-title {
      .room-num {
        margin-left: 10px;
        line-height: 39px;
      }
    }
    table {
      &.text-center {
        thead {
          th {
            text-align: center;
          }
        }
      }
    }
    .label {
      // font-weight: 400;
      font-size: 16px;
      color: $gotcolor1;
      background: transparent;
      &.label-attend {
        color: #26b372
      }
      &.label-tardy {
        color: #ffb400
      }
      &.label-absent {
        color: #d44242
      }
      &.label-early-leave {
        color: #ff7200;
      }
    }
    .tab-content {
      position: relative;
      .btn-faq {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
    .list_card-class {
      margin: -15px 0 0 -12px;
      li {
        width: 245px; // width: calc(25% - 12px);
        background: #fff;
        .career {
          >img {
            display: block;
            width: 100%;
          }
        }
      }
    }
    .help-wrap {
      width: auto;
    }
  }
}

@media (max-width: 1300px) {
  .program.studies {
    .program-wrapper {
      width: auto;
      .courses-info {
        &.study-info {
          padding: 10px 20px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .program.studies {
    .program-wrapper {
      .tab-content {
        .btn-faq {
          position: inherit;
        }
      }
    }
    .total-time {
      display: block;
    }
  }
}
