#small-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

#small-chat .badge {
  position: absolute;
  top: -3px;
  right: -4px;
}

.open-small-chat {
  height: 38px;
  width: 38px;
  display: block;
  background: $gotcolor;
  padding: 9px 8px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.open-small-chat:hover {
  color: white;
  background: $gotcolor;
}

.small-chat-box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 75px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding:20px;
  width: 366px;
  //max-height: 500px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  &.belt{
    bottom:110px;
  }
}

.small-chat-box.ng-small-chat {
  display: block;
}

.body-small {
  .small-chat-box {
    bottom: 70px;
    right: 20px;
  }
}

.small-chat-box.active {
  display: block;
  z-index:10;
  background: #fff;
}

.small-chat-box {

  .heading {
    padding-bottom: 16px;
    border-bottom:1px solid #dadada;
    font-size:20px;
    font-weight: bold;
    color: $gotcolor1;
    a{
      color: $gotcolor1;
    }
  }

  .chat-date {
    opacity: 0.6;
    margin-left:3px;
    font-size: 10px;
    font-weight: normal;
  }

  .content {
    margin-top:5px;
    padding: 15px;

    .author-name {
      font-weight: bold;
      margin-bottom: 3px;
      font-size: 12px;
    }

    > div {
      padding-bottom: 20px;
    }

    .chat-message {
      padding: 10px;
      border-radius: 6px;
      font-size: 14px;
      line-height: 1.4;
      max-width: 80%;
      background: #f3f3f4;
      margin-bottom: 10px;
      word-break: break-all;
    }

    .chat-message.active {
      color: $gotcolor2;
    }

    .left {
      text-align: left;
      clear: both;

      .chat-message {
        float: left;
        background: #f2f2f2;
      }
    }

    .right {
      text-align: right;
      clear: both;

      .chat-message {
        float: right;
        background: #ffe8b2;
      }

    }

  }

  .form-chat {
    width: 100%;
    .chat-input{
      width:270px;
      height:32px;
      vertical-align: middle;
    }
  }

}
