// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-content.clause {
  width: 980px;
  margin: 0 auto;
  padding: 100px 0;

  .tit {
    display: block;
    font-weight: 700;
    color: $gotcolor1;
  }

  .inner {
    overflow: hidden;
  }

  .txt-important {
    font-weight: 700;
    color: #e54234 !important;
  }

  .clause-tabs {
    clear: both;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 2px solid $gotcolor1;

    a {
      color: #333;
    }

    h1 {
      float: left;
    }

    .special-title {
      float: left;
      display: block;
      color: #777;
      margin: 20px 0 0 20px;
    }
  }

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .term-box {
    overflow: hidden;
    padding: 30px;
    border-bottom: 2px solid $gotcolor1;
    border-width: 2px 0;

    .term-list {
      float: left;
      width: 49%;
      margin-left: 2%;

      &:first-child {
        margin: 0;
      }

      >li {
        >a {
          font-size: 14px;
          color: $gotcolor1;
          line-height: 2;
          letter-spacing: -0.5px;

          strong {
            display: inline-block;
            width: 50px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .term-group {
    margin-top: 80px;

    .term {
      margin-top: 50px;
      color: $gotcolor1;
      word-break: keep-all;

      &:first-child {
        margin-top: 0;
      }

      >p,
      ol,
      ul {
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.8;

        li {

          >ul,
          >ol {
            margin: 15px 0;
            padding-left: 15px;
          }
        }
      }

      .normal-number {
        >li {
          list-style-type: decimal;
          list-style-position: inside;
        }
      }

      .circle-number {
        >li {
          position: relative;
          padding-left: 20px;
          line-height: 2;
          counter-increment: circle-counter;

          &:before {
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            width: 16px;
            height: 16px;
            font-size: 12px;
            text-align: center;
            line-height: 14px;
            border: 1px solid $gotcolor1;
            border-radius: 50%;
            content: counter(circle-counter, decimal);
          }
        }
      }

      .parenthesis {
        >li {
          counter-increment: parenthesis-counter;

          &:before {
            display: inline-block;
            margin-right: 5px;
            content: "("counter(parenthesis-counter, decimal) ")";
          }
        }
      }

      .half-parenthesis {
        >li {
          counter-increment: half-parenthesis-counter;

          &:before {
            display: inline-block;
            margin-right: 5px;
            content: counter(half-parenthesis-counter, decimal) ")";
          }
        }
      }

      table {
        width: 100%;
        table-layout: fixed;

        thead {
          tr {
            &:first-child {
              th {
                border-top: 0;
              }
            }
          }

          th {
            padding: 5px 10px;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            border: 1px solid #ddd;
            border-width: 1px 0 0 1px;
            background: $gotcolor2;

            &:first-child {
              border-left: 0;
            }
          }
        }

        tbody {
          tr {

            th,
            td {
              padding: 5px;
              font-size: 14px;
              border: 1px solid $gotcolor3;
              border-width: 1px 1px 1px 0;
            }

            td:last-child {
              border-right: 0;
            }
          }
        }
      }

      .term-anchor {
        >li {
          margin: 0;

          >a {
            color: $gotcolor1;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .landing-content.clause {
    width: 500px;
    font-size: 0.5vw;
  }
}
