// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.learning #page-wrapper {
  padding: 0;
}

#learning-main {
  min-width: 1080px;
  background: #fff;

  .content-box {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 120px 0;

    .landing-title {
      margin-bottom: 60px;
      text-align: center;
      color: #222;
      font-size: 42px;
    }

    .high-lighter {
      position: relative;
      display: inline-block;
      z-index: 1;
      padding: 0 10px;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: #86d9ff;
      }
    }
  }

  .top-event {
    color: #000;
    font-size: 18px;
    background: #e1e1e1;

    .content-box {
      padding: 13px 0;

      .event-anchor {
        position: absolute;
        right: 0;
        top: 15px;
        padding-right: 56px;
        font-size: 14px;
        color: #f55855;
        text-decoration: underline;

        &:after {
          overflow: hidden;
          display: block;
          position: absolute;
          right: 0;
          top: -20px;
          width: 53px;
          height: 53px;
          background: url("/image/learning/main/icon-event.png") no-repeat 0 0;
          text-indent: -1000em;
          content: "신청영역으로 이동하기";
          z-index: 101;
        }
      }
    }
  }

  .learning-banner {
    padding-top: 45px;
    background: #fff;

    .custom-nav {
      position: relative;

      >button {
        display: block;
        position: absolute;
        top: -210px;
        left: 50%;
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: #fff;
        text-align: center;
        line-height: 50px;
        background: rgba(0, 0, 0, 0.3);
        border: 0;
        border-radius: 50%;
        z-index: 10;

        &.owl-prev {
          margin-left: -540px;
        }

        &.owl-next {
          margin-left: 490px;
        }
      }
    }
  }

  .learning-intro {
    height: 422px;
    background: url("/image/learning/main/visual_bg.jpg") repeat-x 50% 50%;

    .content-box {
      padding: 60px 0;

      h3 {
        padding-top: 54px;
        background: url("/image/learning/main/visual_title_bg.png") no-repeat 50% 0;
        font-size: 64px;
      }

      p {
        margin-top: 30px;
        font-size: 24px;
        color: #000;
        text-align: center;
        line-height: 36px;
        letter-spacing: -1px;

        &:first-of-type {
          margin: 0;
        }
      }

      .visual-badge {
        position: absolute;
        top: -24px;
        left: 110px;
      }
    }
  }

  .learning-guide {
    background: #f2f2f2;

    .guide-list {
      overflow: hidden;
      clear: both;

      li {
        float: left;
        width: 33%;
        border-left: 1px solid #ddd;
        text-align: center;
        font-size: 18px;

        strong {
          display: block;
          margin-bottom: 10px;
          padding-bottom: 160px;
          font-size: 22px;
        }

        &:before {
          display: block;
          margin-bottom: 10px;
          color: $gotcolor;
          font-size: 18px;
        }

        &:nth-child(1) {
          border: 0;

          &:before {
            content: "STEP 1";
          }

          strong {
            padding-bottom: 130px;
            background: url("/image/learning/main/guide01_bg.png") no-repeat 50% 100%;
          }

          p {
            margin-bottom: 20px;
          }
        }

        &:nth-child(2) {
          &:before {
            content: "STEP 2";
          }

          strong {
            background: url("/image/learning/main/guide02_bg.png") no-repeat 50% 100%;
          }
        }

        &:nth-child(3) {
          &:before {
            content: "STEP 3";
          }

          strong {
            background: url("/image/learning/main/guide03_bg.png") no-repeat 50% 100%;
          }
        }
      }
    }
  }

  .private-lesson {
    .lesson-list {
      overflow: hidden;

      >li {
        float: left;
        width: 350px;
        margin-left: 15px;
        background-size: contain;

        &:first-child {
          margin-left: 0;
        }

        a {
          display: block;
          position: relative;
          padding: 90px 50px 170px;
          box-sizing: border-box;
          cursor: default;
        }

        strong.tit {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 20px;
          font-weight: 700;
          font-size: 24px;
          color: #000;
          letter-spacing: -1px;
          background: #fff;
          border: 1px solid #e6e6e6;
          border-width: 0 1px 1px 1px;
          box-sizing: border-box;
          text-align: center;

          >span {
            display: block;
            font-weight: 400;
            font-size: 18px;
          }
        }

        .benefit-list {
          >li {
            position: relative;
            margin-top: 15px;
            padding-left: 65px;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            line-height: 25px;
            letter-spacing: -0.5px;

            &:before {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 50px;
              height: 50px;
              content: "";
            }

            &:first-child {
              margin-top: 0;
            }
          }
        }

        &.detail01 {
          background: #000 url("/image/learning/main/lesson_detail01.jpg") top center no-repeat;

          .benefit-list>li {
            &:before {
              background: url("/image/learning/main/icon-lesson-detail01.png") no-repeat;
            }

            &:first-child {
              background-position: 0 0;
            }

            &:nth-child(2):before {
              background-position: 0 -64px;
            }

            &:nth-child(3):before {
              background-position: 0 -128px;
            }
          }
        }

        &.detail02 {
          background: #000 url("/image/learning/main/lesson_detail02.jpg") top center no-repeat;

          .benefit-list>li {
            &:before {
              background: url("/image/learning/main/icon-lesson-detail02.png") no-repeat;
            }

            &:first-child {
              background-position: 0 0;
            }

            &:nth-child(2):before {
              background-position: 0 -64px;
            }

            &:nth-child(3):before {
              background-position: 0 -128px;
            }
          }
        }

        &.detail03 {
          background: #000 url("/image/learning/main/lesson_detail03.jpg") top center no-repeat;

          .benefit-list>li {
            &:before {
              background: url("/image/learning/main/icon-lesson-detail03.png") no-repeat;
            }

            &:first-child {
              background-position: 0 0;
            }

            &:nth-child(2):before {
              background-position: 0 -64px;
            }

            &:nth-child(3):before {
              background-position: 0 -128px;
            }
          }
        }
      }
    }
  }

  .class-wrap {
    margin-bottom: 50px;

    .content-box {
      width: 1160px;

      .landing-title {
        margin-bottom: 40px;
      }

      .category {
        text-align: center;

        a {
          display: inline-block;
          margin: 5px 0 0 10px;
          padding: 5px 20px;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 3px;
          color: #333;
          font-size: 14px;
          letter-spacing: -1px;

          &:hover,
          &.active {
            background: #e6e6e6;
            border: 1px solid #333;
          }
        }
      }

      .select-area {
        margin-bottom: 40px;
        text-align: center;

        select {
          width: 180px;
          height: 32px;
          line-height: 32px;
          vertical-align: middle;
        }
      }

      .class-slider {
        margin: 30px auto;
      }

      .class-list {
        width: 1080px;
        margin: 0px auto;
      }

      .slide-controll {
        width: 200px;
        margin: 0 auto;
        text-align: center;
      }
    }

    .col-md-3 {
      padding: 0 8px;

      .main-tooltip {
        position: absolute;
        top: 176px;
        left: auto;
        right: -10px;
        width: 130px;
        height: 98px;
        box-shadow: 0;
        z-index: 3;
      }

      .class-card.turn:hover {
        // .main-tooltip{
        //   opacity:0;
        //   -webkit-transform: rotateY(180deg);
        //   -ms-transform: rotateY(180deg);
        //   -moz-transform: rotateY(180deg);
        //   transform: rotateY(180deg);
        // }
      }
    }
  }

  .btn-inquiry {
    display: block;
    width: 508px;
    height: 94px;
    margin: 30px auto;
  }

  .open-event {
    background: #5ed0ff;

    .content-box {
      padding: 60px 0;

      h3 {
        position: absolute;
        top: -18px;
        left: 0;
        padding: 0 10px;
        font-size: 16px;
        line-height: 36px;
        border-radius: 18px;
        background: #fcff00;
      }

      strong.tit-event {
        font-weight: 700;
        font-size: 32px;
        color: $gotcolor1;
        line-height: 1.4;
      }

      p.event-date {
        margin-top: 30px;
        font-weight: 300;
        font-size: 16px;
        color: $gotcolor1;
        line-height: 1.4;
        letter-spacing: -1px;

        >strong {
          margin: 0 10px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      ul.notice-list {
        margin-top: 10px;

        li {
          font-size: 12px;
          color: $gotcolor1;
          letter-spacing: -1px;
          line-height: 1.4;
        }
      }

      &:after {
        display: block;
        position: absolute;
        top: -40px;
        right: -20px;
        width: 665px;
        height: 428px;
        background: url("/image/learning/main/bg-open-event.png") 0 0 no-repeat;
        content: "";
      }
    }
  }

  .belt-event {
    background: #6ee0d1;

    .content-box {
      padding: 40px 0;

      p {
        font-weight: 300;
        font-size: 30px;
        color: #000;
        line-height: 1.4;

        &.event-date {
          margin-top: 15px;
          font-size: 16px;
          letter-spacing: -1px;

          >strong {
            margin: 0 10px;

            &:first-child {
              margin-left: 0;
            }
          }
        }

        >strong {
          font-weight: 700;
        }
      }

      .img-event-belt {
        position: absolute;
        bottom: 35px;
        right: 0;
      }
    }
  }

  .request-area {
    .content-box {
      padding: 60px 0 120px;

      .form-wrap {
        table {
          width: 100%;

          th,
          td {
            padding: 20px 10px;
            color: #999;
            font-weight: normal;
            font-size: 16px;
            vertical-align: top;
          }

          td {
            label {
              color: #333;
              margin: 0 15px 0 10px;
            }

            .comment-input {
              width: 480px;
            }

            .tel-input {
              width: 150px;
            }

            .description {
              padding: 5px 0;
              font-size: 12px;
            }

            .agree-text {
              overflow: hidden;
              overflow-y: scroll;
              height: 54px;
              padding: 10px;
              border: 1px solid #ddd;
              font-size: 12px;
              font-weight: normal;
              line-height: 1.8;
            }

            .agree-form {
              clear: both;
              height: 20px;

              .description {
                float: left;
              }

              label {
                color: #999;
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
      }

      .request-board {
        margin: 20px 0;

        table {
          width: 100%;

          thead th {
            border-bottom: 2px solid #666;
            color: #999;
          }

          th,
          td {
            border-bottom: 1px solid #dadada;
            padding: 5px 10px;
            color: #999;
            font-size: 14px;
          }

          .empty {
            height: 200px;
            text-align: center;
            vertical-align: middle;
          }

          td {
            color: #000;

            >p {
              display: inline-block;
              padding-right: 10px;
            }

            .notice {
              color: #e75959;
              font-weight: bold;
            }

            &:nth-child(1) {
              color: #666;
            }

            .close-link {
              color: #666;
            }
          }
        }
      }
    }
  }

  .btn-group.paging {
    left: 50%;
    width: 200px;
    margin: 20px 0 20px -100px;
    text-align: center;
  }

  .floating-banner {
    position: absolute;
    top: 400px;
    left: 50%;
    margin-left: 350px;
    z-index: 100;

    a {
      display: block;

      &.btn-floating-close {
        display: block;
        position: absolute;
        top: 22px;
        right: 12px;
        width: 40px;
        height: 40px;
        z-index: 101;
      }
    }
  }
}

#learning-quick-wrap {
  position: absolute;
  top: 440px;
  left: 50%;
  width: 130px;
  margin-left: 640px;
  z-index: 100;

  a {
    display: block;
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  #learning-quick {
    position: relative;
    top: 20px;
    left: 0;
    width: 130px;
    margin-left: 0;
  }
}
