// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.help-wrap {
  width: 1080px;
  padding: 60px 0;
  margin: 0 auto;
  .top-container {
    clear: both;
    height: 60px;
    margin-bottom: 48px;
    border-bottom: 1px ㅡ #dadada;
    h1 {
      float: left;
      height: 60px;
      margin: 0;
      color: $gotcolor1;
      line-height: 60px;
    }
    .nav-tabs {
      float: left;
      height: 44px;
      margin: 15px 0 0 30px;
      border-bottom: 0;
      li {
        a {
          padding: 10px 15px;
          border: 0;
          background: transparent;
          border-bottom: 3px solid transparent;
          font-size: 16px;
          color: $gotcolor;
        }
        &.active,
        &:active,
        &:focus,
        &:hover {
          a,
          a:active,
          a:hover,
          a:focus {
            background: transparent;
            border: 0;
            border-bottom: 3px solid $gotcolor;
            font-weight: 600;
          }
        }
      }
    }
  }
  .tab-pane {
    h2 {
      color: $gotcolor1;
      margin-bottom: 24px;
    }
    .notice-gallery {
      overflow: hidden;
      clear: both;
      height: 200px;
      margin-bottom: 48px;
      li {
        position: relative;
        float: left;
        height: 200px;
        margin-left: 10px;
        &:first-child {
          margin: 0;
        } // &:before{
        //   position: absolute;
        //   top:0;
        //   left:0;
        //   display: block;
        //   width:44px;
        //   height:20px;
        //   background: #363636;
        //   color:#fff;
        //   font-size:12px;
        //   font-weight: 300;
        //   text-align: center;
        //   line-height:20px;
        // }
        // &.elementary:before{
        //   content: "초등";
        // }
        // &.secondary:before{
        //   content: "중고등";
        // }
        // is_real?
      }
    }
  }
  .file-list {
    border-top: 1px solid #dadada;
    text-align: right;
    a {
      padding: 0 10px;
      color: #333;
      font-weight: bold;
    }
  }
  .board-wrap {
    min-height: 360px;
    p.result {
      margin-bottom: 30px;
      font-weight: bold;
      letter-spacing: 0;
      span.number {
        color: $gotcolor;
      }
    }
    span.notice {
      color: #d44242;
    }
    .board-list {
      width: 100%;
      thead th {
        padding: 5px 10px;
        color: $gotcolor3;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
      }
      tbody {
        tr {
          &:last-child {
            th,
            td {
              border-bottom: 1px solid #dadada;
            }
          }
          &:hover {
            th,
            td {
              background: #f5f5f5;
            }
          }
        }
        th {
          border-top: 1px solid #dadada;
          padding: 5px 10px;
          text-align: center;
          font-size: 14px;
          font-weight: normal;
          span.notice {
            font-size: 12px;
          }
        }
        td {
          padding: 10px;
          border-top: 1px solid #dadada;
          font-size: 14px;
          text-align: center;
          &.empty {
            background: #fff;
            min-height: 300px;
            line-height: 300px;
            text-align: center;
          }
          &.title {
            text-align: left;
            a {
              max-width: 90%;
              color: $gotcolor1;
            }
          }
          span.icon-bi_h {
            overflow: hidden;
            display: block;
            width: 90px;
            height: 18px;
            text-indent: -1000em;
            vertical-align: middle;
            &:before {
              display: block;
              text-indent: 0;
              font-size: 16px;
            }
          }
        }
      }
      tfoot {
        tr td {
          text-align: right;
          border-top: 1px solid #dadada;
          padding: 30px 0 50px 0;
          a.btn {
            padding: 6px 24px;
          }
        }
      }
      &.inquiry {
        tbody {
          th {
            font-weight: bold;
          }
          td {
            &.title {
              a {
                width: 90%;
              }
            }
            .state {
              color: $gotcolor3;
              &.active {
                color: $gotcolor;
              }
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
    .board-write {
      width: 100%;
      margin: 20px 0;
      padding: 50px 0;
      border-top: 2px solid #333;
      tbody {
        tr {
          th,
          td {
            padding: 15px 10px;
            select {
              width: 200px;
            }
            input[type="text"] {
              width: 100%;
              border: 1px solid #ddd;
              border-radius: 3px;
              padding: 3px 10px;
            }
            .description {
              padding: 5px 0;
              color: $gotcolor3;
              font-size: 12px;
              line-height: 1.4;
            }
            .edit {
              min-height: 200px;
              font-size: 14px;
            }
          }
          th {
            color: $gotcolor3;
            font-size: 16px;
            font-weight: normal;
            vertical-align: top;
          }
          &:first-child {
            th,
            td {
              padding-top: 50px;
            }
          }
          &:last-child {
            th,
            td {
              padding-bottom: 50px;
            }
          }
        }
      }
      tfoot td {
        border-top: 2px solid #333;
        padding: 30px 0 50px 0;
        text-align: right;
        .btn {
          margin-left: 10px;
          padding: 6px 30px;
        }
      }
    }
    #new_counsel_board {
      .board-write {
        border-top: 0;
      }
    }
    .board-view {
      width: 100%;
      border-top: 2px solid #333;
      thead {
        th {
          padding: 10px 0;
          font-size: 12px;
          &.title {
            font-size: 16px;
            span.notice {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
      tbody td.board-content {
        border-top: 1px solid #dadada;
        padding: 50px 0;
      }
      tfoot td {
        border-top: 2px solid #333;
        padding: 30px 0 50px 0;
        .btn {
          margin-right: 10px;
          padding: 6px 30px;
        }
      }
      &.inquiry {
        .answer {
          position: relative;
          padding: 25px 25px 25px 50px;
          border-top: 1px solid #dadada;
          background: #f5f5f5;
          line-height: 1.6;
          .answer-date {
            position: absolute;
            top: 25px;
            right: 25px;
            font-size: 12px;
            color: $gotcolor1;
            font-weight: bold;
          }
          .modify {
            margin: 5px 0;
            text-align: right;
          }
          &::before {
            position: absolute;
            top: 25px;
            left: 20px;
          }
        }
      }
      .modify {
        padding: 20px 0;
      }
    }
  }
  .fqa-board {
    .fqa-list {
      min-height: 360px;
      border-bottom: 1px solid #000;
      li {
        position: relative;
        border-top: 1px solid #dadada;
        font-size: 14px;
        .type {
          position: absolute;
          top: 5px;
          left: 0;
          width: 160px;
          text-align: center;
        }
        .icon-question {
          position: relative;
          padding: 10px 10px 10px 160px;
          &:before {
            position: absolute;
            top: 12px;
            left: 140px;
            font-size: 12px;
          }
          &:after {
            content: "";
            position: absolute;
            right: 12px;
            top: 14px;
            display: block;
            width: 13px;
            height: 7px;
            background: url(asset-path("common/btn-open.png")) no-repeat 0 0;
          }
        }
        &.empty {
          background: #fff;
          min-height: 300px;
          line-height: 300px;
          text-align: center;
        }
        &:first-child {
          border: 0;
        }
        &:last-child {
          border-bottom: 1px solid #dadada;
        }
        .answer-wrap {
          display: none;
          border-top: 1px solid #dadada;
          font-size: 16px;
          line-height: 1.6;
          .file-list {
            margin-bottom: 0px;
            padding: 10px 0;
            border-top: 0;
            border-bottom: 1px solid #dadada;
            font-size: 12px;
          }
          .icon-answer {
            position: relative;
            padding: 25px 10px 25px 160px;
            &:before {
              position: absolute;
              top: 30px;
              left: 140px;
              font-size: 12px;
            }
          }
          .modify {
            text-align: right;
          }
        }
        &.active {
          background: #f5f5f5;
          .answer-wrap {
            display: block;
          }
          .icon-question:after {
            content: "";
            background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .list-controller {
      margin: 30px 0 50px;
    }
  }
  .file-wrap {
    position: relative;
    padding-left: 96px;
    .btn-darkline {
      position: absolute;
      top: 0;
      left: 0;
    }
    .add-list {
      overflow: hidden;
      overflow-y: auto;
      width: 882px;
      height: 78px;
      border: 1px solid #ddd;
      border-radius: 4px;
      li {
        position: relative;
        width: 100%;
        height: 26px;
        padding: 0 10px;
        background: #f5f5f5;
        vertical-align: middle;
        a {
          display: block;
          width: 90%;
          color: #333;
          font-size: 12px;
          line-height: 24px;
        }
        .btn-del {
          display: block;
          position: absolute;
          top: 0px;
          right: 10px;
          width: 24px;
          height: 24px;
          border: 0;
          background: url(asset-path("common/btn_del.png")) no-repeat 50% 50%;
          text-indent: -1000em;
        }
      }
    }
  }
  .paging {
    left: 50%;
    top: 0;
    width: 200px;
    margin-left: -100px;
  }
  .category {
    overflow: hidden;
    clear: both;
    height: 40px;
    border: 1px solid #000;
    border-width: 2px 0 1px 0;
    li {
      float: left;
      height: 40px;
      margin-left: 20px;
      &:first-child {
        margin: 0;
      }
      a {
        padding: 10px 0;
        color: $gotcolor3;
        font-size: 14px;
        font-weight: normal;
        line-height: 40px;
      }
      &:hover,
      &.active {
        a {
          color: $gotcolor1;
          font-weight: bold;
        }
      }
    }
  }
  .tab-title {
    margin-bottom: 50px;
    p {
      color: $gotcolor2;
      font-weight: 300;
      letter-spacing: -1px;
    }
  }
  .support-wrap {
    position: relative;
    padding: 25px 10px 25px 360px;
    border-top: 1px ㅡ #dadada;
    color: $gotcolor1;
    font-weight: 300;
    letter-spacing: -1px;
    .title {
      position: absolute;
      top: 25px;
      left: 0;
      font-size: 20px;
      strong {
        display: block;
        margin-bottom: 10px;
        font-size: 28px;
      }
      span {
        font-weight: 400;
      }
    }
    .tel {
      display: block;
      margin-top: 25px;
      color: $gotcolor;
      font-size: 32px;
      font-weight: bold;
    }
    .btn-submit.btn-lg {
      min-width: 260px;
    }
    .link-line {
      display: inline-block;
      margin-top: 10px;
      border-bottom: 1px solid $gotcolor1;
      color: $gotcolor1;
      font-size: 14px;
      font-weight: 600;
    }
    .btn-help-kakao {
      width: 104px;
      border-radius: 3px;
    }
    .support-step {
      clear: both;
      overflow: hidden;
      height: 270px;
      margin-bottom: 10px;
      li {
        float: left;
        width: 170px;
        height: 270px;
        margin-left: 10px;
        padding: 20px 10px;
        background-color: #f2f2f2;
        background-repeat: no-repeat;
        background-position: 50% 45%;
        text-align: center;
        font-weight: 300;
        strong {
          display: block;
          margin-bottom: 114px;
        }
        &:first-child {
          margin: 0;
        }
        &:nth-child(1) {
          background-image: url(asset-path("common/support-step1.png"));
          background-position: 66% 45%;
        }
        &:nth-child(2) {
          background-image: url(asset-path("common/support-step2.png"));
        }
        &:nth-child(3) {
          background-image: url(asset-path("common/support-step3.png"));
        }
        &:nth-child(4) {
          background-image: url(asset-path("common/support-step4.png"));
        }
      }
    }
    .description {
      color: $gotcolor3;
      font-size: 12px;
      line-height: 1.2;
    }
    .support-table {
      width: 715px;
      margin: 30px 0 20px;
      border: 1px solid #999;
      th,
      td {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #999;
        border-width: 1px 0 0 1px;
        vertical-align: top;
      }
      tr {
        th:first-chiald {
          border-left: 0;
        }
      }
      thead th {
        background: #ebebeb;
      }
    }
  }
  .support-wrap.cs-new{
    clear:both;
    height:300px;
    background: #29b6f6;
    padding:20px;
    >.title{
      position: static;
      float:left;
      width:144px;
      height:300px;
      color:#fff;
    }
    >.content{
      float: right;
      width:750px;
      height:300px;
      border-radius:10px;
      .content-box{
        position: relative;
        float:left;
        display: block;
        padding:14px 14px 14px 90px;
        border-radius:5px;
        color:#666;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.6;
        strong{
          display: block;
          font-size: 16px;
          &.contact-title{
            color:#ed2727;
            margin-bottom:5px;
          }
        }
        .sub-title{
          color:#333;
          font-size: 18px;
        }
        .delay{
          position: absolute;
          bottom:14px;
          left:90px;
          font-size:11px;
        }
        &.kakao{
          width:374px;
          height:175px;
          background: #fff url(asset-path("common/customer_kakao.png")) no-repeat 21px 15px;
        }
        &.tel{
          float:right;
          width:374px;
          height:175px;
          margin:0;
          background: #fff url(asset-path("common/customer_tel.png")) no-repeat 21px 15px;
        }
        &.custom{
          width:750px;
          height:80px;
          margin:2px 0 5px 0;
          background: #fff url(asset-path("common/customer_tak.png")) no-repeat 21px 15px;
        }
      }
      .description{
        clear:both;
        width:750px;
        color:#fff;
        font-size: 11px;
        letter-spacing: 0;
      }
    }
  }
  .vedioModal {
    .modal-content {
      width: 710px;
    }
  }
}

.mobile .help-wrap{
  width: 100%;
  padding:60px 20px;
  h2{
    margin-bottom:20px;
  }
  .board-wrap{
    .board-list{

    }
    .board-write{
      tbody{
        tr{
          td,th{
            padding:5px;
            font-size: 1.4rem;
            select{
              border:1px solid #ddd;
            }
          }
        }
      }
    }
    .board-view{
      &.inquiry {
        .align-right{
          text-align: right;
        }
      }
    }
  }
}
