// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-wrap {
  .empty-result {
    height: 400px;
    padding: 350px 0 200px 0;
    background: url(asset-path('common/bg_search.png')) no-repeat 50% 170px;
    font-size: 20px;
    text-align: center;

    .keyword {
      color: $gotcolor;
      font-weight: normal;
    }
  }

  .sort-wrap {
    clear: both;
    height: 105px;
    padding: 12px 0;
    vertical-align: middle;
    border-top: 1px solid #000;
    border-bottom: 1px solid #dadada;

    .title {
      display: inline-block;
      width: 80px;
      margin-right: 12px;
      font-weight: normal;
    }

    select {
      height: 22px;
      margin-right: 12px;
      font-size: 12px;
    }

    input[type='text'] {
      height: 34px;
      padding: 3px 10px;
      border: 1px solid #dadada;
      border-radius: 3px;
      vertical-align: middle;
    }
  }

  .sort-result {
    clear: both;
    height: 82px;
    padding: 24px 0;
    color: $gotcolor2;
    font-size: 20px;
    font-weight: normal;
    line-height: 34px;

    .keyword {
      margin-right: 10px;
      color: $gotcolor;
      font-weight: normal;
    }

    .dropdown-toggle.btn {
      border: 1px solid #dadada;
      border-radius: 3px;
    }

    .dropdown-menu {
      right: 14px;
    }
  }

  // 초등 수강신청 가이드
  .btn-guide {
    position: relative;
    display: inline-block;
    margin-right: 34px;
    color: #999;
    font-size: 16px;
    text-align: right;
    border-bottom: 1px solid #999;

    span {
      color: #f0373f;
    }

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      right: -32px;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 4px;
      background: url(asset-path('common/popup_btn.gif')) no-repeat 0 0;
      vertical-align: top;
    }
  }
}
