// Place all the styles related to the academies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// common
.container {
  position: relative;
  width: 1200px;
  padding: 0;
}

.landing-page .profile-nav .container {
  padding: 0;
}

.hidden-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999em;
}

// .fold-area {
//   overflow: hidden;
//   max-height: 345px;
//   margin-bottom: 30px;
//   &.active {
//     max-height: none;
//   }
// }
a.btn-more-view {
  width: 100%;
  background: #dadada;
  color: $gotcolor3;
}

// academy
#academy,
#courses {
  position: relative;
  min-width: 1200px;

  .icon-quick-edit {
    top: 10px;
  }

  // academy - common
  .profile-info,
  .course-info {
    margin-left: 0;
    padding-bottom: 120px;
    background: #f2f2f2;

    .profile-main {
      padding-right: 0;

      img {
        max-width: 100%;
      }

      .help-wrap {
        width: 100%;
        padding: 0;

        .ibox-content {
          border: 1px solid #dadada;
        }

        .board-write {
          background-color: #fff;
          border: 1px solid #dadada;
        }
      }
    }

    h4.h2 {
      padding: 72px 0 24px;
      margin: 0;

      span.count {
        color: $gotcolor;
        font-size: 16px;
      }
    }

    .ibox {
      position: relative;

      .ibox-content {
        border: 1px solid #dadada;
        border-radius: 2px;
      }

      &.back-trans {
        .ibox-content {
          padding: 0;
          border: 0 none;
          background: transparent;
        }
      }
    }

    .introduce-list {
      >li {
        padding-left: 0;
        list-style: none;
      }

      >li.oneline {
        .description {
          display: inline-block;
        }
      }
    }
    .profile-main .help-wrap .board-area{
      padding:16px;
      background:#fff;
      border:1px solid #dadada;
      .board-view {
        margin-top: 14px;
        .file-list {
          height: 36.6px;
        }
      }
      .board-list, .board-write, .board-view{
        border:none;
        tbody tr:first-child td, th {
          padding-top: 0;
        }
        tfoot tr td{
          padding:16px;
        }
      }
    }
  }

  // profile-cover
  .profile-cover {
    background-color: #7f7f7f;

    .container {
      padding: 40px 0 45px;

      .profile-area {
        color: #fff;
        text-align: center;

        .profile-img {
          overflow: hidden;
          width: 149px;
          height: 149px;
          margin: 0 auto;
          border: 1px solid #fff;
          border-radius: 100%;
          box-shadow: 1px 1px 1px $gotcolor1;

          >img {
            overflow: hidden;
            width: 149px;
            height: 149px;
          }
        }

        p.slogan {
          margin-top: 15px;
          text-shadow: 1px 1px 1px $gotcolor1;
        }

        strong.name {
          display: block;
          margin: 15px 0;
          font-size: 36px;
          text-shadow: 1px 1px 1px $gotcolor1;
        }

        span.state {
          color: $gotcolor1;
          font-size: 14px;
          text-shadow: 1px 1px 1px #fff;

          &:before {
            content: '';
            display: inline-block;
            width: 13px;
            height: 13px;
            margin: 0 3px 3px 0;
            border-radius: 100%;
            background: $gotcolor1;
            vertical-align: middle;
            box-shadow: 1px 1px #fff;
          }

          &.active {
            color: #26b372;

            &:before {
              background: #26b372;
            }
          }
        }
      }
    }
  }

  // profile-nav
  .profile-nav,
  .class-detail-nav {
    margin: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;

    .nav {
      float: left;

      >li {
        float: left;
        margin-right: 40px;

        >a {
          padding: 0;
          border-bottom: 4px solid #fff;
          color: $gotcolor1;
          font-size: 16px;
          line-height: 48px;
          font-weight: bold;

          &.active,
          &:hover {
            border-bottom: 4px solid $gotcolor1;
            background: #fff;
          }
        }
      }
    }

    .nav-right {
      float: right;

      >a {
        display: inline-block;
        margin-left: 12px;
      }

      a.btn-like {
        >i {
          color: $gotcolor1;
          line-height: 48px;
          font-size: 16px;
          font-weight: bold;

          &.fa-heart-o {
            display: inline-block;
          }

          &.fa-heart {
            display: none;
          }
        }

        &.active {
          >i {
            color: $gotcolor;

            &.fa-heart-o {
              display: none;
            }

            &.fa-heart {
              display: inline-block;
            }
          }
        }
      }

      a.btn-send-message {
        width: 277.5px;
      }
    }

    &:after {
      content: '';
      display: block;
      overflow: hidden;
      clear: both;
    }
  }

  // #page-top
  #page-top {
    .icon-quick-edit {
      top: -50px;
      right: 0;
    }

    .introduce-list {
      >li {
        margin-top: 47px;

        strong.title {
          display: block;
        }

        &.oneline {
          margin-top: 0;

          strong.title {
            float: left;
            width: 75px;
          }
        }

        .description {
          float: left;
          width: 790px;
          color: $gotcolor1;
          line-height: 28px;

          a {
            color: $gotcolor1;
          }

          i.fa-external-link {
            padding-left: 10px;
            font-size: 12px;
          }

          ul.qna-list {
            margin-top: -20px;

            li {
              display: inline-block;
              width: 32%;
              margin-top: 24px;
              padding-left: 10px;
              border-left: 1px solid #dadada;
              vertical-align: top;

              p {
                margin: 0;
                text-align: 28px;

                &.question {
                  font-style: normal;
                }
              }

              .answer {
                padding-bottom: 20px;
              }

              &:nth-child(3n+1) {
                padding-left: 0;
                border-left: 0 none;
              }
            }

            &:after {
              content: '';
              display: block;
              overflow: hidden;
              clear: both;
            }
          }
        }

        &:after {
          content: '';
          display: block;
          overflow: hidden;
          clear: both;
        }
      }
    }
  }

  // #video
  #video {
    position: relative;

    .icon-quick-edit {
      top: -55px;
      right: 80px;
    }

    h4.h2 {
      .btn-group {
        float: right;
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }

    .video-slider {
      .video-list {
        float: left;
        width: 294px;
        margin-left: 12px;

        &:first-child {
          margin-left: 0;
        }

        &:focus {
          outline: none;
        }

        .video-view {
          position: relative;
          width: 294px;
          height: 166px;
          overflow: hidden;
        }

        .video-info {
          strong.title {
            display: block;
            margin: 13px 0 -5px;
          }
        }
      }

      .slick-prev,
      .slick-next {
        top: -48px;
        width: 35px;
        height: 34px;
        border: 1px solid #e7eaec;
        border-radius: 3px;
        background: #fff;
      }

      .slick-prev {
        left: 833px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(-90deg);
        }
      }

      .slick-next {
        right: 6px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(-90deg);
        }
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
  }

  //#review
  #review {
    .review-area {
      .review-list {
        li {
          padding: 25px 0;
          border-top: 1px solid #dadada;

          .review-writer {
            float: left; //width: 7.5%;
            text-align: center;
            margin-right: 25px;

            .profile-img {
              overflow: hidden;
              width: 58px;
              height: 58px;
              margin: 0 auto;
              border: 1px solid #dbdbdb;
              border-radius: 100%;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          span.name {
            display: block;
            margin-top: 10px;
            color: $gotcolor1;
          }

          .review-grade {
            float: left; //width: 12.5%;
            padding-top: 16px;
            color: $gotcolor;
            text-align: center;
          }

          .review-post {
            float: left;
            width: 80%;
          }

          &:first-child {
            padding-top: 0;
            border-top: 0 none;
          }

          &:after {
            content: '';
            display: block;
            overflow: hidden;
            clear: both;
          }
        }
      }
    }
  }

  // #class
  #class {
    h4.h2 {
      .btn-group {
        float: right;
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }

    .class-slider {
      .class-list {
        float: left;
        width: 294px;
        margin-left: 12px;

        &:first-child {
          margin-left: 0;
        }

        &:focus {
          outline: none;
        }

        .class-view {
          width: 294px;
          height: 166px;
          overflow: hidden;
        }

        .class-info {
          strong.title {
            display: block;
            margin: 13px 0 -5px;
          }
        }
      }

      .slick-prev,
      .slick-next {
        top: -48px;
        width: 35px;
        height: 34px;
        border: 1px solid #e7eaec;
        border-radius: 3px;
        background: #fff;
      }

      .slick-prev {
        left: 833px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(-90deg);
        }
      }

      .slick-next {
        right: 6px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(90deg);
        }
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
  }

  //#book
  #edit_introduce_book_container {
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
  }

  #book {
    position: relative;

    .icon-quick-edit {
      top: -50px;
      right: 0;
    }

    .ibox-content {
      text-align: left;
    }
  }

  // #teacher
  #teacher {
    h4.h2 {
      .btn-group {
        float: right;
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }

    .teacher-slider {
      .teacher-list {
        width: 294px;

        &:focus {
          outline: none;
        }
      }

      .slick-prev,
      .slick-next {
        top: -48px;
        width: 35px;
        height: 34px;
        border: 1px solid #e7eaec;
        border-radius: 3px;
        background: #fff;
      }

      .slick-prev {
        left: 833px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(-90deg);
        }
      }

      .slick-next {
        right: 6px;

        &:before {
          content: "";
          position: absolute;
          top: 13px;
          right: 10px;
          display: block;
          width: 13px;
          height: 7px;
          background: url(asset-path("common/btn-close.png")) no-repeat 0 0;
          transform: rotate(90deg);
        }
      }

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        clear: both;
      }
    }
  }

  //#schedule
  #schedule {
    position: relative;

    .icon-quick-edit {
      top: -50px;
      right: 0;
    }

    .ibox-content {
      text-align: center;
    }
  }

  //#location
  #location {
    position: relative;

    .icon-quick-edit {
      top: 70px;
      right: 0;
    }
  }

  // .profile-detail
  .profile-detail {
    margin-top: 121px;

    a.btn-send-message {
      width: 100%;
      margin-bottom: 12px;
    }

    .ibox {
      margin-bottom: 12px;

      #contact-1 {
        ul.detail-list {
          margin: 0;

          >li {
            margin-top: 15px;

            .title {
              float: left;
              margin: 0;
              padding-top: 5px;
              color: $gotcolor3;
              font-style: normal;
            }

            .description {
              float: right;
              margin: 0;
            }

            &:first-child {
              margin-top: 5px;
            }

            &:after {
              content: '';
              display: block;
              overflow: hidden;
              clear: both;
            }
          }
        }
      }

      .academy-banner {
        .banner-list {
          li {
            text-align: center;

            image {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

//popup
.modal-dialog {

  .modal-header,
  .modal-footer {
    border: 0 none;
  }

  .modal-dimm {
    .form-group {
      .title {
        color: $gotcolor3;
        font-weight: normal;
      }

      .label-select {
        display: block;
        margin-bottom: 5px;
        font-weight: normal;
      }

      .interest-sort {
        margin-bottom: 10px;
      }
    }
  }
}

.modal-dialog.pop-academy-edit-basic {
  .modal-dimm {
    min-height: 500px;

    .tab-pane {
      padding: 20px 0;
    }

    .form-group {
      .description {
        .profile-img {
          float: left;
          overflow: hidden;
          width: 58px;
          height: 58px;
          margin: 0 auto;
          border: 1px solid #dbdbdb;
          border-radius: 100%;
          vertical-align: top;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .file-info {
          float: left;
          margin-left: 12px;
        }

        .file-btn {
          float: left;
          width: 25%;
        }

        .file-preview {
          float: left;
          width: 70%;
          margin-left: 12px;
          background: #dadada;
        }

        &:after {
          content: '';
          display: block;
          overflow: hidden;
          clear: both;
        }
      }
    }
  }
}

.teacher-list {
  float: left;
  margin-left: 12px;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  .profile-wrap {
    padding: 20px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 3px;
    text-align: center;

    .profile-img {
      margin: 0 auto 20px;
      border-radius: 50%;
    }

    .user-name {
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
    }

    .user-state {
      margin-bottom: 25px;
      color: $gotcolor1;
      font-size: 14px;
      text-shadow: 1px 1px 1px #fff;

      &:before {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        margin: 0 3px 3px 0;
        border-radius: 100%;
        background: $gotcolor1;
        vertical-align: middle;
        box-shadow: 1px 1px #fff;
      }

      &.active {
        color: #26b372;

        &:before {
          background: #26b372;
        }
      }
    }

    .user-comment,
    .user-interest {
      margin-top: 14px;
      text-align: left;

      .btn-outline {
        margin-top: 5px;
        border: 1px solid #adadad;
        background: #e6e6e6;
      }
    }

    .user-interest+.btn-submit {
      width: 100%;
      margin-top: 20px;
    }
  }
}
