.landing-content {
  &.move {
    background: #f5f5f5;

    .inner {
      width: 1080px;
      margin: 0 auto;

      &:after {
        display: block;
        clear: both;
        content: "";
      }
    }

    .welcome-visual {
      padding: 55px 0 0 0;

      .txt-tutor-name {
        font-weight: 300;
        font-size: 30px;
        color: $gotcolor;
        text-align: center;
        letter-spacing: -0.5px;

        span {
          font-weight: 700;
        }
      }

      .txt-welcome {
        display: block;
        margin-top: 20px;
        font-weight: 900;
        font-size: 74px;
        color: $gotcolor1;
        text-align: center;
        line-height: 1.3;
        letter-spacing: -1px;
      }

      .event-area {
        position: relative;
        margin-top: 20px;
      }
    }

    .welcome-event {
      padding: 65px 0 135px;

      // background-color:#676a6c;
      .title {
        display: block;
        margin: 125px 0 25px;
        color: #000;
        font-size: 33px;
        line-height: 40px;
        text-align: center;

        &:first-child {
          margin-top: 0;
        }
      }

      .description {
        margin-bottom: 40px;
        color: #000;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
      }

      .wrap-list-tutor {
        .list-tutor {
          margin-bottom: 40px;
          text-align: center;
        }

        li {
          display: inline-block;
          width: 250px;

          &:nth-child(1) {
            .interview {
              color: #987783;

              &:before {
                background-position: 0 0;
              }
            }
          }

          &:nth-child(2) {
            .interview {
              color: #6675a3;

              &:before {
                background-position: -30px 0;
              }
            }
          }

          &:nth-child(3) {
            .interview {
              color: #7398b0;

              &:before {
                background-position: -60px 0;
              }
            }
          }
        }

        .interview {
          position: relative;
          margin-bottom: 25px;
          padding-top: 35px;
          font-size: 21px;
          line-height: 31px;
          letter-spacing: -0.1em;
          font-weight: bold;

          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 0;
            width: 24px;
            height: 20px;
            margin-left: -12px;
            background: url('/image/conects_tutor/move/bul-interview.png') no-repeat left top;
          }
        }

        .name {
          display: block;
          margin-top: 15px;
          color: #000;
          font-size: 16px;
          line-height: 20px;
          font-weight: bold;

          >span {
            border-bottom: 1px solid #000;
          }
        }
      }

      .wrap-btn {
        text-align: center;
      }

      .wrap-bill-form {
        position: relative;
        width: 757px;
        height: 710px;
        margin: 0 auto;
        background: url('/image/conects_tutor/move/img-bill-bg.png') no-repeat 0 top;

        >.bill-form {
          position: absolute;
          top: 80px;
          left: 268px;
          width: 300px;
          background-color: #fff;
        }

        .wrap-btn {
          position: absolute;
          bottom: 20px;
          left: 268px;
        }

        .info-01 {
          margin-bottom: 15px;
          color: #666;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: -1px;
        }

        .info-02 {
          margin-bottom: 25px;
          color: #666;
          font-size: 12px;
          line-height: 16px;
        }

        .lbl {
          display: block;
          height: 24px;
          color: #000;
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
        }

        .wrap-inpt {
          position: relative;
          padding-right: 40px;
          border: 1px solid #707070;

          &.slct {
            padding-right: 0;
          }

          .inpt-txt,
          .inpt-slct {
            width: 100%;
            height: 32px;
            border: 0;
            color: #000;
            font-size: 14px;
          }

          .txt {
            position: absolute;
            right: 3px;
            top: 2px;
            color: #999;
            font-size: 14px;
            font-style: normal;
          }
        }

        .wrap-total-price {
          .total-price {
            margin: 15px 0 0;

            &:after {
              content: '';
              display: block;
              clear: both;
              height: 0;
              visibility: hidden;
            }

            dt {
              float: left;
              color: #000;
              font-size: 16px;
              line-height: 20px;
              font-weight: bold;
            }

            dd {
              float: right;
              color: #000;
              font-size: 26px;
              line-height: 30px;
              font-weight: bold;
            }
          }

          .info-price {
            margin-top: 15px;
            border-top: 1px solid #333;
            text-align: right;
          }

          .tutor-logo {
            margin-top: 25px;
          }
        }

        .tutor-logo {
          margin-top: 25px;
        }

        .wrap-btn {
          margin-top: 45px;
          text-align: center;

          .btn-primary {
            width: 260px;
          }
        }
      }

      .wrap-list-information {
        width: 897px;
        margin: 0 auto;

        .list-information {
          margin-left: -12px;
        }

        li {
          position: relative;
          float: left;
          width: 442px;
          height: 254px;
          margin: 12px 0 0 12px;
          padding: 28px 30px 0;
          background-color: #fff;

          &:nth-of-type(1) {
            .img {
              right: 3px;
              bottom: 0;
            }
          }

          &:nth-of-type(2) {
            .img {
              right: -29px;
              bottom: -9px;
            }
          }

          &:nth-of-type(3) {
            .img {
              right: -9px;
              bottom: 0;
            }
          }

          &:nth-of-type(4) {
            .img {
              right: -70px;
              bottom: 0;
            }
          }
        }

        .tit {
          display: block;
          position: relative;
          z-index: 1;
          margin-bottom: 15px;
          color: #29b6f6;
          font-size: 26px;
          line-height: 33px;
          font-weight: bold;
        }

        .txt {
          position: relative;
          z-index: 1;
          color: #666;
          font-size: 16px;
          line-height: 24px;

          strong {
            color: #000;
            font-weight: bold;
          }
        }

        .sub {
          position: relative;
          z-index: 1;
          color: #666;
          font-size: 12px;
          line-height: 16px;
        }

        .img {
          position: absolute;
        }
      }
    }

    .welcome-step {
      margin-top: 20px;
      background-color: #fff;
      counter-reset: step-counter;

      .inner>div {
        overflow: hidden;
        padding: 40px 0;
        border-top: 1px solid $gotcolor1;

        &:first-child {
          border-top: 0;
        }

        h4 {
          float: left;
          font-size: 20px;
          color: $gotcolor1;
          line-height: 28px;

          &:before {
            display: block;
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            counter-increment: step-counter;
            content: "STEP"counter(step-counter);
          }
        }

        h5 {
          position: relative;
          margin: 20px 0 10px;
          padding-left: 10px;
          font-weight: 300;
          font-size: 16px;

          &:first-child {
            margin-top: 0;
          }

          &:before {
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 2px;
            height: 2px;
            background: $gotcolor1;
            border-radius: 50%;
            content: "";
          }
        }

        .cont-area {
          float: right;
          width: 716px;
          font-size: 16px;
          color: $gotcolor1;

          p {
            font-weight: 300;
            letter-spacing: -1px;
            line-height: 24px;

            +h5 {
              margin-top: 20px;
            }

            >em {
              font-weight: 700;
              font-style: normal;
              color: $gotcolor;
            }
          }

          table {
            width: 100%;

            tbody {

              th,
              td {
                padding: 5px 10px;
                font-size: 14px;
                border: 1px solid $gotcolor1;
              }

              th {
                background: #ebebeb;
              }
            }
          }

          .sample-list {
            margin-left: 10px;

            li {
              letter-spacing: -1px;

              >em {
                font-style: normal;
                font-weight: 700;
              }

              .correct {
                font-weight: 700;
                color: #00d464;
              }

              .wrong {
                font-weight: 700;
                color: #ee3838;
              }
            }
          }

          .img-event-benefit {
            display: block;
            margin-top: 15px;
          }

          .domain-check-area {
            margin: 30px 0 25px;

            strong {
              font-size: 22px;
              color: $gotcolor1;
              line-height: 24px;
              letter-spacing: -1px;
              vertical-align: middle;
            }

            input[type="text"] {
              display: inline-block;
              width: 285px;
              height: 32px;
              padding: 3px 10px;
              margin-left: 5px;
              border: 1px solid $gotcolor;
              border-radius: 3px;
              box-sizing: border-box;
              vertical-align: middle;
            }

            button {
              &.btn-check {
                background: $gotcolor3;
                border: 0;
              }
            }

            .check-duplication {
              margin: 5px 0 0 160px;
              font-weight: 700;
              font-size: 12px;
              color: #00d464;
              letter-spacing: -0.5px;

              &.text-danger {
                color: #ee4c4c;
              }
            }
          }

          .notice {
            margin-top: 20px;

            >li {
              position: relative;
              padding-left: 10px;
              font-weight: 300;
              font-size: 14px;
              color: $gotcolor1;
              letter-spacing: -0.5px;

              >strong {
                font-weight: 700;
                color: #ee4c4c;
              }

              &:before {
                display: block;
                position: absolute;
                top: 12px;
                left: 0;
                width: 2px;
                height: 2px;
                background: $gotcolor1;
                border-radius: 50%;
                content: "";
              }
            }
          }

          .agree-area {
            margin-top: 20px;

            &:after {
              display: block;
              clear: both;
              content: "";
            }

            .check-agree {
              float: left;
              width: 352px;

              >div {
                margin-top: 5px;

                &:after {
                  display: block;
                  clear: both;
                  content: "";
                }

                &:first-child {
                  margin-top: 0;
                }

                label {
                  display: block;
                  float: left;
                  width: 260px;
                  font-size: 12px;
                  color: $gotcolor1;
                  line-height: 14px;
                  letter-spacing: -1px;

                  input[type="checkbox"] {
                    margin-right: 5px;
                  }
                }

                .btn-more {
                  display: block;
                  float: left;
                  margin-left: 10px;
                  padding-bottom: 5px;
                  font-size: 12px;
                  color: #999;
                  line-height: 14px;
                  letter-spacing: -1px;
                  border-bottom: 1px solid #999;
                }
              }
            }

            .btn {
              float: left;
              display: inline-block;
              width: 170px;
              height: 47px;
              margin-left: 10px;
              font-size: 18px;
            }
          }
        }
      }
    }

    .welcome-form {
      background: #fff;
      padding: 50px 0 65px;

      h4 {
        float: left;
        font-size: 20px;
        color: $gotcolor;
        line-height: 28px;
      }

      .cont-area {
        float: right;
        width: 716px;
      }
    }

    .welcome-notice {
      background: $gotcolor1;
      padding: 50px 0;

      dl {
        overflow: hidden;

        dt {
          float: left;
          width: 80px;
          margin-top: 30px;
          font-weight: 700;
          font-size: 16px;
          color: #fff;
          letter-spacing: -0.5px;
          line-height: 1.6;

          &:first-of-type {
            margin-top: 0;
          }
        }

        dd {
          float: right;
          width: 970px;
          margin-top: 30px;
          font-size: 16px;
          font-weight: 300;
          color: #fff;
          letter-spacing: -0.5px;
          line-height: 1.6;
          word-break: keep-all;

          strong {
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 18px;
            color: #ee4c4c;
            letter-spacing: -1px;
            border-bottom: 1px solid #ee4c4c;
          }

          >ul {
            >li {
              position: relative;
              padding-left: 10px;

              &:before {
                display: block;
                position: absolute;
                top: 12px;
                left: 0;
                width: 4px;
                height: 4px;
                background: #fff;
                border-radius: 50%;
                content: "";
              }
            }
          }

          &:first-of-type {
            margin-top: 0;
          }
        }
      }
    }
  }
}

#detail-tutor.modal {
  .modal-dialog {
    width: 810px;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .wrap-detail-tutor {
    width: 735px;
    margin-top: 45px;

    &:first-child {
      margin-top: 0;
    }
  }

  .wrap_thumb {
    float: left;
    width: 150px;
    margin-right: 25px;

    img {
      display: block;
    }

    .name {
      display: block;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      >span {
        border-bottom: 1px solid #000;
      }
    }
  }

  .wrap_text {
    width: 560px;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
  }

  .interview {
    position: relative;
    margin-bottom: 9px;
    padding-top: 22px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.1em;
    font-weight: bold;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 20px;
      background: url('/image/conects_tutor/move/bul-interview-02.png') no-repeat left top;
    }

    &.t01 {
      color: #987783;

      &:before {
        background-position: 0 0;
      }
    }

    &.t02 {
      color: #6675a3;

      &:before {
        background-position: -25px 0;
      }
    }

    &.t03 {
      color: #7398b0;

      &:before {
        background-position: -50px 0;
      }
    }
  }

  .description {
    color: #000;
    font-size: 15px;
    line-height: 24px;
  }
}
