// Place all the styles related to the academies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// common

.custom-modal-js {
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  padding: 2%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  .content-group {
    font-weight: 500;
  }
  .button-group {
    margin-top: 10%;
    text-align: center;
  }
}