// Place all the styles related to the imports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-container {
  .content-box {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    .heading-title {
      color: #000;
      font-size: 42px;
      font-weight: normal;
      line-height: 1.4;
      strong {
        display: block;
        font-size: 60px;
      }
    }
  }
  .main-title {
    .heading-title {
      margin-bottom: 30px;
      font-size: 36px;
      font-weight: bold;
    }
  }
  .main-visual {
    #visual-slider {
      position: relative;
      width: 100%;
      height: 400px;
      .slide1,
      .slide2,
      .slide3,
      .slide4,
      .slide5,
      .slide6,
      .slide7 {
        position: relative;
        width: 100%;
        height: 400px;
        a {
          display: block;
          width: 1080px;
        }
        img {
          position: absolute;
          left: 50%;
          margin-left: -563px;
        }
        .content-box {
          display: block;
          height: 400px;
          padding: 0;
        }
      }
      .slide1 {
        background: #62b8c2;
        img {
          top: 0;
        }
      }
      .slide2 {
        background: #7c2c2e;
        img {
          bottom: -22px;
        }
      }
      .slide3 {
        background: #008478;
        img {
          bottom: 0;
        }
      }
      .slide4 {
        background: #f26722;
        img {
          bottom: -7px;
        }
      }
      .slide5 {
        background: #ffe669;
        img {
          margin-left: -780px;
          bottom: -90px;
        }
      }
      .slide6 {
        background: #fff;
        img {
          top: -31px;
        }
      }
      .slide7 {
        background: #7febff;
        img {
          top: 0;
        }
      }
      .slick-list {
        overflow: visible;
      }
      &.slick-slider {
        margin-bottom: 0;
      }
    }
    .slider-control {
      position: relative;
      top: -214px;
      left: 50%;
      z-index: 3;
      width: 1080px;
      height: 0;
      margin-left: -540px;
      a {
        overflow: hidden;
        display: block;
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        text-indent: -1000em;
      }
      .btn-prev {
        left: 0;
        background: url(asset-path("common/btn-prev.png")) no-repeat 0 0;
      }
      .btn-next {
        right: 0;
        background: url(asset-path("common/btn-next.png")) no-repeat 0 0;
      }
    }
    .tutor-information {
      background: #f5f5f5;
      .heading-title {
        margin-bottom: 20px;
      }
      .sub-title {
        color: #333;
        font-size: 24px;
      }
      .search-title {
        height: 120px;
        margin: 50px 0 30px 0;
        padding-top: 14px;
        background: url("/image/main/search-tootip.png") no-repeat 50% 0;
        color: $gotcolor;
      }
      .counting-view {
        clear: both;
        width: 1080px;
        height: 116px;
        li {
          float: left;
          width: 360px;
          height: 116px;
          padding: 10px;
          border-left: 1px solid #333;
          font-size: 40px;
          color: #000;
          letter-spacing: -1px;
          strong {
            display: block;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: normal;
          }
          .number {
            font-size: 60px;
            font-weight: bold;
            letter-spacing: -2px;
          }
          &:first-child {
            border: 0;
          }
        }
      }
      .description {
        font-family: '돋움';
        text-align: right;
        font-size: 10px;
        color: #ababab;
      }
    }
  }
  .tutor-wrap {
    .tutor-header {
      .content-box {
        padding-bottom: 0;
        .heading-title {
          margin-bottom: 100px;
        }
      }
      .tab {
        display: inline-block;
        width: 532px;
        height: 134px;
        margin-left: 10px;
        padding-top: 36px;
        background: #d7d7d7;
        border-radius: 3px;
        color: #999;
        font-size: 20px;
        letter-spacing: -1px;
        strong {
          display: block;
          margin-bottom: 14px;
          font-size: 36px;
          font-weight: normal;
        }
        &:hover,
        &.active {
          color: #333;
          background: #f5f5f5;
        }
        &:first-child {
          margin: 0;
        }
      }
    }
    .tutor-body {
      background: #f5f5f5;
      letter-spacing: -1px;
      #tutor-on {
        text-align: left;
        .tutor-title {
          position: relative;
          margin-bottom: 60px;
          padding: 25px 0;
          border-bottom: 1px solid #000;
          h4 {
            color: #000;
            font-size: 36px;
            font-weight: normal;
          }
          .link-group {
            position: absolute;
            bottom: 25px;
            right: 0;
            text-align: right;
            a {
              display: inline-block;
              margin-left: 10px;
              font-size: 16px;
              color: #999;
              &.active,
              &:hover {
                font-weight: bold;
                color: #333;
              }
            }
          }
        }
        .category-title {
          display: block;
          margin-bottom: 28px;
          color: #000;
          font-size: 26px;
        }
        .pr-visual {
          position: relative;
          top: 0;
          left: 0;
          z-index: 2;
          width: 516px;
          height: 300px;
          .hash-area {
            position: absolute;
            top: 110px;
            left: 0;
            z-index: 2;
            width: 100%;
            font-size: 18px;
            color: #fff;
            text-align: center;
            line-height: 1.4;
          }
          img {
            width: 100%;
          }
        }
        .pr-detail {
          position: relative;
          font-size: 18px;
          color: #222;
          .pr-title {
            position: relative;
            top: -40px;
            left: 0;
            z-index: 3;
            font-size: 30px;
            line-height: 1.4;
            .bg-block {
              display: inline-block;
              background: #f5f5f5;
              padding: 8px 10px 0 0;
            }
          }
          .link-more {
            display: block;
            margin: 10px 0 60px 0;
            color: #999;
          }
        }
      }
      #tutor-off {
        .heading-title {
          margin-bottom: 54px;
          &:first-child {
            margin-bottom: 28px;
          }
          &:last-child {
            margin-bottom: 70px;
          }
        }
        .category-tab {
          width: 100%;
          height: 40px;
          border: 1px solid #dadada;
          border-width: 1px 0;
          li {
            display: inline-block;
            height: 40px;
            margin-left: 20px;
            &:first-child {
              margin: 0;
            }
            a {
              display: inline-block;
              color: $gotcolor3;
              font-size: 16px;
              font-weight: normal;
              line-height: 40px;
            }
            &:hover,
            &.active {
              a {
                color: $gotcolor1;
                font-weight: bold;
              }
            }
          }
        }
        .favorite-wrap {
          margin-bottom: 94px;
          .favorite-area {
            display: none;
          }
          .tutor-list {
            margin: 55px 0 0 0;
          }
        }
        $category: 6;
        @for $i from 0 to $category {
          .favorite-wrap.category#{$i + 1} {
            #category#{$i + 1} {
              display: block;
            }
          }
        } //for
        .tutor-list {
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          grid-gap: 14px;
          margin-bottom: 70px;
          counter-reset: list;
          li {
            position: relative;
            width: 198px;
            a {
              overflow: hidden;
              display: block;
              height: 244px;
              border-radius: 3px;
              background: #ebebeb;
              border: 1px solid #dadada;
              color: $gotcolor1;
              text-align: left;
              line-height: 1.4;
            }
            .tutor-info {
              position: relative;
              height: 84px;
              padding: 16px 16px 16px 64px;
              background: #fff;
              .tutor-name {
                font-size: 16px;
              }
              .tutor-category,
              .tutor-school {
                display: block;
                font-size: 12px;
                max-width: 118px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
              }
              .tutor-img {
                position: absolute;
                top: 16px;
                left: 16px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }
            .tutor-say {
              padding: 16px;
              p {
                overflow: hidden;
                display: block;
                display: -webkit-box;
                height: 44px;
                margin-bottom: 18px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-wrap: break-word;
                white-space: normal;
              }
              .hash-say {
                display: inline-block;
                max-width: 165px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-wrap: normal;
                font-size: 14px;
              }
            }
            &:before {
              content: counter(list);
              position: absolute;
              top: -12px;
              left: 0;
              z-index: 2;
              counter-increment: list;
              display: block;
              width: 24px;
              height: 24px;
              background: $gotcolor;
              border-radius: 50%;
              color: #fff;
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
        .off-category {
          display: grid;
          grid-template-columns: auto auto auto auto auto;
          grid-gap: 14px;
          margin-bottom: 100px;
          li {
            width: 198px;
            background: #fff;
            a {
              overflow: hidden;
              display: block;
              width: 198px;
              height: 56px;
              border: 1px solid #ddd;
              border-radius: 3px;
              color: #333;
              font-size: 16px;
              text-align: center;
              line-height: 56px;
            }
          }
          &.type-img {
            li {
              a {
                position: relative;
                height: 180px;
                &:before {
                  content: "";
                  display: block;
                  width: 198px;
                  height: 90px;
                  margin-bottom: 32px;
                  background: url("/image/main/main_off.jpg") no-repeat 0 0;
                }
                &:after {
                  content: "";
                  position: absolute;
                  top: 100px;
                  left: 84px;
                  display: block;
                  width: 32px;
                  height: 32px;
                  background: url("/image/main/main_off.jpg") no-repeat 100% 0;
                }
              }
              &:nth-child(even) {
                a {
                  &:before {
                    background-position-x: -196px;
                  }
                }
              }
              &:nth-child(3),
              &:nth-child(4) {
                a {
                  &:before {
                    background-position-y: -90px;
                  }
                }
              }
              &:nth-child(5),
              &:nth-child(6) {
                a {
                  &:before {
                    background-position-y: -180px;
                  }
                }
              }
              &:nth-child(7),
              &:nth-child(8) {
                a {
                  &:before {
                    background-position-y: -270px;
                  }
                }
              }
              &:nth-child(9),
              &:nth-child(10) {
                a {
                  &:before {
                    background-position-y: -360px;
                  }
                }
              }
              $type: 10;
              @for $i from 0 to $type {
                &:nth-child(#{$i + 1}) {
                  a {
                    &:after {
                      background-position-y: -$i*40px;
                    }
                  }
                }
              } //for
            }
          }
          &:last-child {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  .user-offer {
    background: #faf9f4;
    .heading-title {
      margin-bottom: 30px;
    }
    .sub-title {
      margin-bottom: 40px;
      color: #333;
      font-size: 25px;
    }
    .form-group {
      position: relative;
      z-index: 2;
      width: 370px;
      margin: 0 auto;
      letter-spacing: -1px;
      select,
      input,
      textarea {
        width: 370px;
        height: 34px;
        border: 1px solid #dadada;
        margin-bottom: 10px;
        padding: 8px 10px;
        line-height: 16px;
      }
      select {
        padding: 0;
      }
      .description {
        margin-bottom: 14px;
        color: $gotcolor2;
        font-size: 14px;
        font-weight: bold;
      }
      textarea {
        height: 120px;
        background: transparent;
        padding: 10px;
        resize: none;
        color: $gotcolor3;
        font-size: 12px;
      }
      .btn-submit {
        width: 370px;
      }
    }
    .content-box {
      &:after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: -110px;
        z-index: 1;
        display: block;
        width: 968px;
        height: 262px;
        background: url("/image/main/useroffer_bg.png") no-repeat 0 0;
      }
    }
  }
  .tutor-category {
    .heading-title {
      margin-bottom: 30px;
    }
    .category-title {
      display: block;
      margin-bottom: 14px;
      color: #000;
      font-size: 25px;
      font-weight: normal;
      text-align: left;
    }
    .row {
      margin: 0;
    }
    .category-wrap {
      position: relative;
      display: block;
      margin-bottom: 60px;
      text-align: left;
      .category-column {
        display: inline-block;
        width: 170px;
        height: 134px;
        padding: 10px;
        vertical-align: top;
        border-left: 1px solid #dadada;
        &:first-child {
          border: none;
        }
        dl {
          margin-top: 40px;
          dt,
          dd {
            font-size: 16px;
            a {
              display: block;
              padding-top: 2px;
              color: #000;
            }
          }
          dt {
            margin-bottom: 10px;
            color: $gotcolor;
            font-weight: normal;
            a {
              color: $gotcolor;
            }
          }
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &.off {
        .category-column {
          height: 660px;
        }
      }
    }
  }
  #landing_sky_banner {
    position: fixed;
    right: 1%;
    bottom: 2%;
    & > a {
      display: block;
      margin-bottom: 5px;
      & > img {
        width: 70px;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #main-container {
    .main-visual {
      overflow-x: hidden;
    }
  }
}
