// Place all the styles related to the program_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title{
  margin:40px 0 30px 0;
  .category{
    display: block;
    margin-bottom:10px;
    font-size:16px;
    font-weight: normal;
    color:$gotcolor;
  }
}
.title-description{
  margin-bottom:55px;
  color:$gotcolor2;
  a{
    color:$gotcolor;
  }
}

.program-widget{
  height: 240px;
  padding: 96px 20px 50px;
  border-radius: 5px;
  //background: #ffae00 url(asset-path("common/icon_elementary.png")) no-repeat center 55px;
  text-align: center;
  color:#fff;
  .program-title{
    margin-bottom:20px;
    font-size:24px;
  }
  .program-help{
    font-size:16px;
  }
  &.elementary {
    background-color: #ffae00;
  }
  &.middle{
    //background: #598527 url(asset-path("common/icon_middle.png")) no-repeat center 55px;
    background-color: #598527;
  }
  &.high{
    //background: #0076a3 url(asset-path("common/icon_high.png")) no-repeat center 55px;
    background-color: #0076a3;
  }
  &.peet {
    background-color: #418F66;
  }
  &.gong {
    background-color: #602323;
  }
  &.global {
    background-color: #DD6B2A;
  }
  &.art {
    background-color: #9A57C5;
  }
  &.hobby {
    background-color: #F06EAA;
  }
  &.it {
    background-color: #2E3192;
  }
  &.pass {
    background-color: #234c5e;
  }
}

.program-step-form{
  .form-group{
    margin:48px 0;
    >div:first-child{
      padding:0;
    }
    input + .form-description{
      margin-top:10px;
    }
    ul li{
      margin-bottom:10px;
    }
    .control-label{
      color:$gotcolor3;
      font-weight: normal;
      text-align: left;
    }
  }
  .form-title{
    margin-bottom:10px;
    color:$gotcolor2;
    font-size:20px;
    font-weight: normal;
  }
  .form-description{
    margin-bottom:10px;
    color:$gotcolor3;
    font-size:12px;
    line-height:1.4;
  }
  .dd-list{
    li{
      position: relative;
      margin-top:10px;
      .dd-content{
        background: #fff;
      }
      &.active{
        .dd-content{
          border-color:$gotcolor;
        }
      }
      &:first-child{
        margin:0;
      }
    }
  }
  .program-detail{
      padding:20px;
      background: #fff;
      border:1px solid #ddd;
      border-radius: 4px;
    .form-group{
      margin:0 0 20px 0;
      .control-label{
        color:$gotcolor3;
        font-weight: normal;
        text-align: left;
      }
      #material-container{
        .file-wrapper{
          padding:5px 10px;
          background: #f5f5f5;
          border:1px solid #dadada;
          border-width: 0 1px 1px;
          font-size:12px;
          &:first-child{
            border-top:1px solid #dadada;
          }
        }
      }
    }
  }
}
.card-preview{
  .class-card{
    width:300px;
    margin-top:60px;
  }
}

.cover-wrapper{
  clear:both;
  overflow:hidden;
  width:456px;
  li{
    float:left;
    width:80px;
    height:80px;
    margin:10px 0 0 10px;
    &.active{
        border: 3px solid $gotcolor;
    }
  }
}

.galleries-wrap{
  margin:40px 0;
  .image-wrapper{
    position: relative;
    width:260px;
    height:260px;
    margin:10px 0 0 10px;
    img{
      width:260px;
      height:260px;
    }
  }
}

.program-galleries{
  clear:both;
  width:800px;
  height:550px;
  li{
    position: relative;
    float:left;
    width:260px;
    height:260px;
    margin-left:10px;
    background: #dadada url(asset-path("common/bg_picture.png")) no-repeat center center;
    color:#000;
    .feature-title{
      position: absolute;
      top:26px;
      left:26px;
      right:26px;
      font-size:24px;
      font-weight: bold;
    }
    .feature-description{
      position: absolute;
      bottom:26px;
      left:26px;
      right:26px;
      word-break: keep-all;
      .item{
        &:before{
          content: "|";
          padding:5px;
        }
        &:first-child{
          &:before{
            content:"";
            padding:0;
          }
        }
      }
    }
    .hover-menu{
      display: none;
      width:260px;
      height:260px;
      p{
        position: absolute;
        top:90px;
        left:0;
        right:0;
        text-align: center;
        z-index:2;
        a{
          display: block;
          margin-top:30px;
          color:#fff;
          font-size: 20px;
          &:first-child{
            margin:0;
          }
        }
      }
      .bg-dimmed{
        z-index:1;
      }
    }
    &:hover{
      .hover-menu{
        display: block;
      }
    }
    &.have-img{
      color:#fff;
      text-shadow: 1px 1px rgba(0, 0, 0, .5);
    }
    &:nth-child(1),&:nth-child(4){
      margin-left:0;
    }
    &:nth-child(4),&:nth-child(5),&:nth-child(6){
      margin-top:10px;
    }
    &:first-child{
      background-repeat: no-repeat;
      background-size:cover;
      @for $i from 1 through 15{
        &.cover#{$i}{
          background-image: url(asset-path("card/cover" + $i + ".jpg"));
        }
      }
      &.cover6,
      &.cover9,
      &.cover11{
        background-position: left  bottom;
      }//왼쪽 아래 기준 배경
      &.cover4,
      &.cover8,
      &.cover13{
        background-position: right 0;
      }//오른쪽 위 기준 배경
      &.cover14{
        background-position: center center;
      }//센터  기준 배경
    }
  }
}

.program-table{
  margin:20px 0;
  table{
    border:1px solid #dadada;
    border-width: 1px 0;
    tbody{
      th,td{
        padding:10px;
        border-top:1px solid #dadada;
        color:$gotcolor3;
        font-size:14px;
        vertical-align: top;
      }
      th{
        color:$gotcolor2;
      }
    }
  }
}
