// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-wrap {
  padding: 20px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 3px;
  text-align: center;
  .profile-img {
    margin-bottom: 20px;
    border-radius: 50%;
  }
  .user-name {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
  }
  .user-state {
    margin-bottom: 25px;
    .state-icon {
      display: block;
      color: #26b372;
      font-size: 14px;
      &:before {
        content: '●';
        font-size: 26px;
        vertical-align: -2px;
      }
    }
  }
  .user-comment,
  .user-interest {
    margin-top: 14px;
    text-align: left;
  }
  .user-interest + .btn-submit {
    margin-top: 20px;
  }
}
.me-wrapper {
  padding-top: 30px;
  h2 {
    margin-bottom: 50px;
  }

  .academy-control {
    margin: 20px 0;
    .btn {
      margin-top: 10px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .form-wrap {
    margin-bottom: 10px;
    padding: 20px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 3px;
    .alert-area {
      padding: 10px;
      background: $gotcolor2;
      border-radius: 5px;
      color: #fff;
      font-size: 16px;
      &.bg-danger {
        background: #e3486c;
        color: #ffffff
      }
      &:before {
        margin-right: 10px;
        color: #fff;
        font-size: 16px;
      }
    }
    .form-content {
      .description {
        color: $gotcolor3;
        font-size: 12px;
        &.icon-alert {
          color: #777;
          font-weight: bold;
          letter-spacing: -1px;
          &::before {
            margin-right: 5px;
          }
        }
      }
      .interest-sort {
        margin-bottom: 10px;
      }
    }
  }
  .birth-select {
    width: 33%;
    & + .chosen-container {
      width: 33% !important;
    }
  }
  #minority {
    display: none;
  }
}
