
body {
  line-height: initial;
}
.chosen-container-single .chosen-single div b {
  background: url(/assets/common/chosen-sprite.png) no-repeat 0 7px;
  display: block;
  height: 100%;
  width: 100%;
}
.chosen-container-single .chosen-single {
  background-color: #fff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #e5e6e7;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #555555;
  display: block;
  height: 34px;
  overflow: hidden;
  line-height: 24px;
  padding: 0 0 0 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

legend {
  border: none;
}
label {
  margin: 0;
  line-height: initial;
}
#wrap {
  min-width: initial;
}

#page-wrapper > div {
  min-width: initial;
}

#page-wrapper {
  padding: 0;
}

#b2c-wrapper caption {
  display: table-caption;
  padding-top: initial;
  padding-bottom: initial;
  color: initial;
  text-align: initial;
}

.got-style {
  position: relative;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.05rem;
}

.class-timetable-search-section.pc-view {
  padding: 0;
}

#page-wrapper > div > div > div {
  width: initial;
  margin: 0;
}

/*front에서 수정할 것*/

#b2c-navi-title {
  word-break: keep-all;
  padding-right: 1rem;
}

#the-class-footer > div.modal-dimm.active > form {
  max-width: 70rem;
}

#the-class-footer > div.modal-dimm.active > form .choose-permit {
  max-height: 80rem;
}

#the-class-footer > div.modal-dimm.active > form > fieldset input {
  justify-self: center
}

#the-class-footer > div.modal-dimm.active > form > fieldset > div {
  overflow: scroll;
}

#b2c-wrapper legend {
  width: initial;
}

#tutor-header {
  /*max-width: 102rem;*/
  width: 122rem;
  margin: 0 auto;
}

.the-tutor-gnb #b2c-navi-list {
  width: 77rem;
}

#tutor-gnb {
  padding: 2rem 0;
}

#the-class-footer > div.modal-dimm.active > form > fieldset > div > div {
  grid-template-rows: auto;
  grid-template-columns: 1fr 7fr;
}

#the-class-footer > div.modal-dimm.active > form > fieldset > .choose-permit {
}

#ticketCardList .permit-card input {
  justify-self: center;
}
#wrap > div.content-wrapper.white-bg {
  padding: 3.3rem 2rem;
}

#page-wrapper {
  margin: 0;
  min-height: initial;
}

.content-box {
  position: relative;
  margin: 0;
  width: 100%;
}

.st_business-nav {
  min-height: 1121px;
}

#wrap {
  min-width: initial;
  padding: 0;
}

.st_business-nav {
  padding-bottom: 0;
}

.hidden {
  visibility: hidden;
  position: absolute
}

#hgroup button, #hgroup input {
  border: none
}

img#mobile-header {
  width: 100%
}

#conects-footer, #conects-lnb {
  display: none
}

#hgroup {
  display: none
}

#b2c-wrapper {
  position: relative;
  margin: 0;
  display: flex;
  flex-flow: column;
  /*align-items: center;*/
  /*max-width: initial;*/
  width: 100%;
}

@media (min-width: 641px) {
  #wrap {
    min-width: 1120px;
    padding-left: 167px;
  }

  img#mobile-header {
    display: none
  }

  #hgroup, #conects-footer {
    display: block
  }
}

.the-tutor-gnb {
  display: none;
  line-height: 1
}

/*
@media (min-width: 641px) {

  .the-tutor-gnb #b2c-navi-title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px
  }

  .the-tutor-gnb #b2c-navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;
    min-width: 69rem;
    font-size: 1.6rem
  }

  .the-tutor-gnb #b2c-navi-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }

  .the-tutor-gnb #b2c-navi-list li a {
    letter-spacing: 1px;
    font-weight: 700;
    color: #000
  }

  .the-tutor-gnb #b2c-navi-list li span {
    display: inline-block;
    font-size: .8rem;
    margin-left: .4rem;
    transform: scaleX(2)
  }
}
*/


#page-wrapper {
  margin: 0;
  min-height: initial;
}

.content-box {
  position: relative;
  margin: 0;
}

.st_business-nav {
  min-height: 1121px;
}

#wrap {
  min-width: initial;
  padding: 0;
}

.st_business-nav {
  padding-bottom: 0;
}

.hidden {
  visibility: hidden;
  position: absolute
}

#hgroup button, #hgroup input {
  border: none
}

img#mobile-header {
  width: 100%
}

#conects-footer, #conects-lnb {
  display: none
}

#hgroup {
  display: none
}

.the-tutor-gnb {
  display: none;
  line-height: 1
}

@media (min-width: 641px) {
  #wrap {
    min-width: 1120px;
    padding-left: 167px;
  }

  img#mobile-header {
    display: none
  }

  #hgroup, #conects-footer {
    display: block
  }

  .the-tutor-gnb {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .the-tutor-gnb #b2c-navi-title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px
  }

  .the-tutor-gnb #b2c-navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;
    min-width: 69rem;
    font-size: 1.6rem
  }

  .the-tutor-gnb #b2c-navi-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }

  .the-tutor-gnb #b2c-navi-list li a {
    letter-spacing: 1px;
    font-weight: 700;
    color: #000
  }

  .the-tutor-gnb #b2c-navi-list li span {
    display: inline-block;
    font-size: .8rem;
    margin-left: .4rem;
    transform: scaleX(2)
  }
}
