// Place all the styles related to the teachs/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reports {
  .modal-content {
    .profile-img {
      float: left;
    }
    .user-info {
      float: left;
      .user-name {
        display: block;
        color: $gotcolor1;
        font-size: 20px;
      }
      .user-nick {
        color: $gotcolor3;
        font-size: 12px;
      }
    }
  }
}
