@import '@/assets/font/notosanskr.css';

@font-face {
  font-family: 'NanumSR';
  src: url('~assets/font/NanumSquareR.eot');
  src: url('~assets/font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
  url('~assets/font/NanumSquareR.woff') format('woff'),
  url('~assets/font/NanumSquareR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSR';
  src: url('~assets/font/NanumSquareRoundEB.eot');
  src: url('~assets/font/NanumSquareRoundEB.eot?#iefix') format('embedded-opentype'),
  url('~assets/font/NanumSquareRoundEB.woff') format('woff'),
  url('~assets/font/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'got-svg';
  src: url('~assets/font/got-site.eot');
  src: url('~assets/font/got-site.eot?#iefix') format('embedded-opentype'),
  url('~assets/font/got-site.woff') format('woff'),
  url('~assets/font/got-site.ttf') format('truetype');
}
