#junior_event_april {
  .content-box{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    line-height: 1.4;
    text-align: center;
    a{
      display: block;
    }
  }
  .visual-area{
    background: #EF78B2 url('/image/elementary/ip/junior_event_april/visual_bg.jpg') repeat-x 50% 100%;
    .content-box{
      height:1600px;
      .image-bottom{
        position: absolute;
        bottom:0;
        left:50%;
        margin-left:-457px;
      }
    }
  }
  .visual-btn-area{
    background: #88dc88;
    .content-box{
      padding:120px 0;
      font-size: 11px;
      a.btn-link{
        margin-bottom:10px;
      }
    }
  }
  .section01{
    background: #FFF9D7;
    .content-box{
      padding-bottom:180px;
      font-size: 11px;
      p{
        margin:-20px 0 5px;
      }
    }
  }
  .section02{
    background: #fff;
  }
  .section03{
    background: #F9C1C4;
    .content-box{
      padding-bottom:60px;
    }
  }
  .section04{
    background: #D2F9C0;
    .content-box{
      padding-bottom:180px;
      .btn-notice{
        margin-bottom: 60px;
      }
    }
  }
  .notice-area {
    border-top:3px solid #000;
    .content-box{
      padding:20px;
      text-align: left;
      .title{
        display: block;
        font-size: 25px;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 50px;
      }
      ol{
        margin: 0 0 20px 20px;
        li{
          margin-bottom:10px;
          list-style: decimal;
        }
      }
    }
  }
  &.phone{
    .content-box{
      width:100%;
      img{
        width:96%;
      }
    }
    .visual-area{
      background-size:cover;
      .content-box{
        height:auto;
        .image-bottom{
          position: relative;
          top:0;
          left:auto;
          right:auto;
          margin:7vw 0 0;
        }
      }
    }
    .visual-btn-area .content-box{
      padding:40px 0;
    }
    .section01 .content-box,
    .section04 .content-box{
      padding-bottom:40px;
    }
  }
}
