
.modal-open {
  overflow: hidden
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding: 10px;
  z-index: 1050
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50)
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px
}

.modal-header .close {
  margin-top: -2px
}

.modal-title {
  margin: 0;
  line-height: 1.428571429
}

.modal-body {
  position: relative;
  padding: 20px
}

.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table
}

.modal-footer:after {
  clear: both
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table
}

.modal-footer:after {
  clear: both
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
  }
}

.modal-open {
  overflow: hidden
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0)
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50)
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5
}

.modal-header:after {
  clear: both
}

.modal-header .close {
  margin-top: -2px
}

.modal-title {
  margin: 0;
  line-height: 1.428571429
}

.modal-body {
  position: relative;
  padding: 15px
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5
}

.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table
}

.modal-footer:after {
  clear: both
}

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 800px;
    margin: 30px auto
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
  }

  .modal-sm {
    width: 300px
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px
  }
}

.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative
}

.modal-dialog {
  z-index: 2200
}

.modal-body {
  padding: 20px 30px 30px 30px
}

.inmodal .modal-body {
  background: #f8fafb
}

.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center
}

.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none
}

.inmodal .modal-title {
  font-size: 26px
}

.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3
}

.modal-footer {
  margin-top: 0
}

.modal-backdrop {
  z-index: 2040 !important
}

.modal {
  z-index: 2050 !important
}

body.modal-open {
  padding-right: inherit !important
}

body.modal-open .wrapper-content.animated {
  -webkit-animation: none;
  -ms-animation-nam: none;
  animation: none
}

body.modal-open .animated {
  animation-fill-mode: initial;
  z-index: inherit
}


.modal-lg {
  width: 900px
}

.modal-footer {
  margin-top: 0
}


.got-style .modal-body .nav-tabs, .got-style .tabs-container .nav-tabs, .got-style .tab-content .nav-tabs {
  border-bottom-color: #333
}

.got-style .modal-body .nav-tabs li a, .got-style .tabs-container .nav-tabs li a, .got-style .tab-content .nav-tabs li a {
  background: transparent;
  border: 0;
  border-bottom: 4px solid transparent;
  font-size: 20px;
  color: #9d9d9d
}

.got-style .modal-body .nav-tabs li.active a, .got-style .modal-body .nav-tabs li.active a:active, .got-style .modal-body .nav-tabs li.active a:hover, .got-style .modal-body .nav-tabs li.active a:focus, .got-style .modal-body .nav-tabs li:active a, .got-style .modal-body .nav-tabs li:active a:active, .got-style .modal-body .nav-tabs li:active a:hover, .got-style .modal-body .nav-tabs li:active a:focus, .got-style .modal-body .nav-tabs li:focus a, .got-style .modal-body .nav-tabs li:focus a:active, .got-style .modal-body .nav-tabs li:focus a:hover, .got-style .modal-body .nav-tabs li:focus a:focus, .got-style .modal-body .nav-tabs li:hover a, .got-style .modal-body .nav-tabs li:hover a:active, .got-style .modal-body .nav-tabs li:hover a:hover, .got-style .modal-body .nav-tabs li:hover a:focus, .got-style .tabs-container .nav-tabs li.active a, .got-style .tabs-container .nav-tabs li.active a:active, .got-style .tabs-container .nav-tabs li.active a:hover, .got-style .tabs-container .nav-tabs li.active a:focus, .got-style .tabs-container .nav-tabs li:active a, .got-style .tabs-container .nav-tabs li:active a:active, .got-style .tabs-container .nav-tabs li:active a:hover, .got-style .tabs-container .nav-tabs li:active a:focus, .got-style .tabs-container .nav-tabs li:focus a, .got-style .tabs-container .nav-tabs li:focus a:active, .got-style .tabs-container .nav-tabs li:focus a:hover, .got-style .tabs-container .nav-tabs li:focus a:focus, .got-style .tabs-container .nav-tabs li:hover a, .got-style .tabs-container .nav-tabs li:hover a:active, .got-style .tabs-container .nav-tabs li:hover a:hover, .got-style .tabs-container .nav-tabs li:hover a:focus, .got-style .tab-content .nav-tabs li.active a, .got-style .tab-content .nav-tabs li.active a:active, .got-style .tab-content .nav-tabs li.active a:hover, .got-style .tab-content .nav-tabs li.active a:focus, .got-style .tab-content .nav-tabs li:active a, .got-style .tab-content .nav-tabs li:active a:active, .got-style .tab-content .nav-tabs li:active a:hover, .got-style .tab-content .nav-tabs li:active a:focus, .got-style .tab-content .nav-tabs li:focus a, .got-style .tab-content .nav-tabs li:focus a:active, .got-style .tab-content .nav-tabs li:focus a:hover, .got-style .tab-content .nav-tabs li:focus a:focus, .got-style .tab-content .nav-tabs li:hover a, .got-style .tab-content .nav-tabs li:hover a:active, .got-style .tab-content .nav-tabs li:hover a:hover, .got-style .tab-content .nav-tabs li:hover a:focus {
  background: transparent;
  border: 0;
  border-bottom: 4px solid #333;
  color: #333;
  font-weight: bold
}

.got-style .modal-content .modal-header .close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 24px;
  opacity: 0.6
}

.got-style .modal-content .form-group .control-label {
  text-align: left
}

.got-style .modal-content .modal-body .description {
  font-size: 12px;
  color: #999
}


.reports .modal-content .profile-img {
  float: left
}

.reports .modal-content .user-info {
  float: left
}

.reports .modal-content .user-info .user-name {
  display: block;
  color: #333;
  font-size: 20px
}

.reports .modal-content .user-info .user-nick {
  color: #999;
  font-size: 12px
}


.modal-dialog .modal-header, .modal-dialog .modal-footer {
  border: 0 none
}

.modal-dialog .modal-body .form-group .title {
  color: #999;
  font-weight: normal
}

.modal-dialog .modal-body .form-group .label-select {
  display: block;
  margin-bottom: 5px;
  font-weight: normal
}

.modal-dialog .modal-body .form-group .interest-sort {
  margin-bottom: 10px
}

.modal-dialog.pop-academy-edit-basic .modal-body {
  min-height: 500px
}

.modal-dialog.pop-academy-edit-basic .modal-body .tab-pane {
  padding: 20px 0
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description .profile-img {
  float: left;
  overflow: hidden;
  width: 58px;
  height: 58px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 100%;
  vertical-align: top
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description .profile-img img {
  width: 100%;
  height: 100%
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description .file-info {
  float: left;
  margin-left: 12px
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description .file-btn {
  float: left;
  width: 25%
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description .file-preview {
  float: left;
  width: 70%;
  margin-left: 12px;
  background: #dadada
}

.modal-dialog.pop-academy-edit-basic .modal-body .form-group .description:after {
  content: '';
  display: block;
  overflow: hidden;
  clear: both
}
