@font-face {
  font-family: NanumSR;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: NanumSR;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype");
  font-weight: 700
}

@font-face {
  font-family: got-svg;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype")
}

.hidden {
  visibility: hidden;
  position: absolute
}

.st_conects-nav.personal .st_conects-gnb .st_bi-search .inpt-search, .the-conects-header #hgroup button {
  border: none
}

.the-conects-header img#mobile-header {
  width: 100%
}

.the-conects-header #hgroup {
  display: none
}

@media (min-width: 641px) {
  .the-conects-header img#mobile-header {
    display: none
  }

  .the-conects-header #hgroup {
    display: block
  }
}

.the-tutor-gnb {
  display: none;
  line-height: 1
}

@media (min-width: 641px) {
  .the-tutor-gnb {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem
  }

  .the-tutor-gnb #b2c-navi-title {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px
  }

  .the-tutor-gnb #b2c-navi-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64vw;
    min-width: 69rem;
    font-size: 1.6rem
  }

  .the-tutor-gnb #b2c-navi-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start
  }

  .the-tutor-gnb #b2c-navi-list li a {
    letter-spacing: 1px;
    font-weight: 700;
    color: #000
  }

  .the-tutor-gnb #b2c-navi-list li span {
    display: inline-block;
    font-size: .8rem;
    margin-left: .4rem;
    transform: scaleX(2)
  }
}

html {
  font-size: 10px
}

body {
  font-family: Noto Sans KR, Malgun Gothic, 맑은고딕, 돋움, Dotum, Helvetica, Apple SD Gothic Neo, Sans-serif, serif
}

@media (min-width: 641px) {
  #tutor-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr
  }

  #tutor-layout > :first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1
  }

  #tutor-layout > :nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2
  }

  #tutor-layout > :nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }

  #tutor-layout > :nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2
  }

  #tutor-layout > :nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }

  #tutor-layout > :nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2
  }

  #tutor-layout > :nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1
  }

  #tutor-layout > :nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2
  }

  #tutor-layout > :nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1
  }

  #tutor-layout > :nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2
  }

  #tutor-layout #conects-footer, #tutor-layout #conects-header, #tutor-layout #conects-lnb, #tutor-layout #tutor-lnb {
    display: inline;
    display: initial
  }

  #tutor-layout #conects-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2
  }

  #tutor-layout #conects-lnb {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4
  }

  #tutor-layout #conects-main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4
  }

  #tutor-layout #conects-footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6
  }

  #tutor-layout #tutor-header {
    height: 12vw;
    max-height: 13rem
  }
}

#tutor-layout #conects-header {
  margin-left: 0
}

#tutor-layout #conects-lnb {
  padding-bottom: 5rem
}

#tutor-layout #tutor-main {
  position: relative
}

#tutor-layout #conects-footer {
  min-width: 0
}

#conects-footer, #conects-lnb {
  display: none
}
