.TheClassSearchBox {
  padding: 4rem 11rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:(1fr) [ 5 ];
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a a b b b" "c c c c c" "d d d d d";
  line-height: 1;
  background-color: #f6f6f6;
  border-top: 2px solid #000;
  border-bottom: 1px solid #a3a3a3;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500
}

.TheClassSearchBox label, .TheClassSearchBox legend {
  display: flex;
  align-items: center
}

.TheClassSearchBox legend {
  font-size: 2rem;
  font-weight: 700
}

.TheClassSearchBox fieldset div {
  display: flex
}

.TheClassSearchBox .select-grades {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: a;
  -ms-grid-row-align: stretch;
  align-self: stretch
}

.TheClassSearchBox .select-grades .fieldset-wrap {
  height: 100%
}

.TheClassSearchBox .select-grades legend {
  flex: 1 1 auto
}

.TheClassSearchBox .select-grades .input {
  position: relative;
  flex: 2 1 auto
}

.TheClassSearchBox .select-grades .input select {
  border: none
}

.TheClassSearchBox .select-grades .input .select-box {
  width: 12rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000
}

.TheClassSearchBox .select-grades .input .select-box:after {
  content: "";
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSI3Ij48cGF0aCBmaWxsPSIjNjk2OTY5IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS43MTcgMS43MTVMNi43MjggNi42ODdhMS4wMSAxLjAxIDAgMDEtMS40MjUgMEwuMzE0IDEuNzE1YTEuMDA0IDEuMDA0IDAgMDEwLTEuNDIxIDEuMDEyIDEuMDEyIDAgMDExLjQyNiAwbDQuMjc2IDQuMjYyTDEwLjI5Mi4yOTRhMS4wMSAxLjAxIDAgMDExLjQyNSAwIDEuMDAyIDEuMDAyIDAgMDEwIDEuNDIxeiIvPjwvc3ZnPg==);
  padding-top: 5.3846153846%;
  width: 10%
}

.TheClassSearchBox .sellect-subjects {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: b
}

.TheClassSearchBox .sellect-subjects legend {
  justify-content: center;
  flex: 1 0 auto
}

.TheClassSearchBox .sellect-subjects .tutor-checkbox {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end
}

.TheClassSearchBox .sellect-subjects .tutor-checkbox label {
  margin-left: 1.5rem
}

.TheClassSearchBox .sellect-subjects input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  font-weight: 500;
  color: #e1e1e1
}

.TheClassSearchBox .sellect-subjects input[type=checkbox]:checked:before {
  color: #fff
}

.TheClassSearchBox .sellect-subjects input[type=checkbox]:before, .TheClassSearchBox .sellect-subjects input[type=checkbox]:checked:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "⅃";
  transform: rotate(40deg)
}

.TheClassSearchBox .sellect-subjects input[type=checkbox]:checked {
  background-color: #00b9fd
}

.TheClassSearchBox button {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: d;
  border: none;
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 400
}

.TheClassTimeTable {
  border-collapse: collapse;
  border: 1px solid #000
}

.TheClassTimeTable caption .main-caption {
  padding: 1.6rem 0;
  font-size: 3.4rem;
  line-height: 1;
  font-weight: 700;
  border-bottom: 2px solid #000
}

.TheClassTimeTable caption .sub-caption {
  padding: 3rem 0
}

.TheClassTimeTable caption .sub-caption span {
  display: inline-block;
  padding: 0 3rem;
  border-right: 1px solid #000;
  font-size: 2rem;
  font-weight: 500
}

.TheClassTimeTable caption .sub-caption span:first-child {
  padding-left: 0
}

.TheClassTimeTable caption .sub-caption span:last-child {
  border-right: none
}

.TheClassTimeTable caption .sub-caption span.active {
  font-weight: 900
}

.TheClassTimeTable td {
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid #b7b7b7;
  padding-left: 2rem;
  padding-top: 2.5rem
}

.TheClassTimeTable td .teacher-name {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: -1rem
}

.TheClassTimeTable td .teacher-name:before {
  content: "•";
  padding-right: .5rem;
  color: #ec4800;
  font-size: 2rem
}

.TheClassTimeTable td .class-message {
  padding: .5rem 0
}

.TheClassTimeTable td .class-status {
  display: inline-block;
  padding: .7rem .6rem;
  text-align: center;
  background-color: #ec4800;
  color: #fff
}

.TheClassTimeTable th {
  padding: 2.2rem 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #6e737d;
  text-align: center
}

.TheClassTimeTable th:first-child {
  width: 16%;
  min-width: 15.2rem
}

.TheClassTimeTable th:nth-child(n+2) {
  width: 14%
}

.TheClassTimeTable th[scope=row] {
  padding: 6rem 2.7rem;
  background-color: #f7f7f7;
  color: #000;
  border: 1px solid #b7b7b7
}

.search {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: auto 4.4rem auto;
  grid-template-rows: auto auto;
  grid-row-gap: 4.4rem
}

.search > :first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.search > :nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1
}
