@font-face {
  font-family: NanumSR;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: NanumSR;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype");
  font-weight: 700
}

@font-face {
  font-family: got-svg;
  src: url(data:application/vnd.ms-fontobject;base64,);
  src: url(data:application/vnd.ms-fontobject;base64,?#iefix) format("embedded-opentype"), url(data:font/woff;base64,) format("woff"), url(data:font/ttf;base64,) format("truetype")
}

.hidden {
  visibility: hidden;
  position: absolute
}

.teacher {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: auto 7.9rem auto;
  grid-template-rows: auto auto;
  grid-gap: 7.9rem;
  padding: 8rem 2.6rem;
  line-height: 1.5;
  color: #8d8d8d
}

.teacher > :first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.teacher > :nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1
}

.teacher dt, .teacher h1, .teacher h2 {
  font-weight: 700;
  font-size: 2.7rem;
  color: #000;
  line-height: 1
}

.teacher h3 {
  font-size: 2rem
}

.teacher dt {
  margin-bottom: 1rem
}

.teacher #class-teacher-summary {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:(1fr) [ 2 ];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto 2rem auto 2rem auto 2rem auto;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 2rem
}

.teacher #class-teacher-summary > :first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.teacher #class-teacher-summary > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2
}

.teacher #class-teacher-summary > :nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1
}

.teacher #class-teacher-summary > :nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 2
}

.teacher #class-teacher-summary > :nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1
}

.teacher #class-teacher-summary > :nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 2
}

.teacher #class-teacher-summary > :nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1
}

.teacher #class-teacher-summary > :nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 2
}

.teacher #class-teacher-intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:(1fr) [ 1 ];
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto 2rem auto 2rem auto 2rem auto;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 2rem
}

.teacher #class-teacher-intro > :first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1
}

.teacher #class-teacher-intro > :nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1
}

.teacher #class-teacher-intro > :nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1
}

.teacher #class-teacher-intro > :nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1
}

.teacher #class-teacher-intro ul#class-teacher-pr li {
  padding-left: .5em;
  text-indent: -.5em
}

.teacher #class-teacher-intro ul#class-teacher-pr li:before {
  content: "*"
}
