// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-area {
  .btn.btn-sm {
    &.btn-orange {
      font-size: 12px;
      color: #fff;
      letter-spacing: -1px;
      text-decoration: none;
      background: #f58220;
    }
  }
}